# ruff: noqa
# mypy: ignore-errors
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

from typing import Any, Dict, List, Optional
from pydantic import StrictBool, StrictFloat, StrictInt, StrictStr

from zitadel_client.models.action_service_activate_public_key_request import (
    ActionServiceActivatePublicKeyRequest,
)
from zitadel_client.models.action_service_activate_public_key_response import (
    ActionServiceActivatePublicKeyResponse,
)
from zitadel_client.models.action_service_add_public_key_request import (
    ActionServiceAddPublicKeyRequest,
)
from zitadel_client.models.action_service_add_public_key_response import (
    ActionServiceAddPublicKeyResponse,
)
from zitadel_client.models.action_service_connect_error import ActionServiceConnectError
from zitadel_client.models.action_service_create_target_request import (
    ActionServiceCreateTargetRequest,
)
from zitadel_client.models.action_service_create_target_response import (
    ActionServiceCreateTargetResponse,
)
from zitadel_client.models.action_service_deactivate_public_key_request import (
    ActionServiceDeactivatePublicKeyRequest,
)
from zitadel_client.models.action_service_deactivate_public_key_response import (
    ActionServiceDeactivatePublicKeyResponse,
)
from zitadel_client.models.action_service_delete_target_request import (
    ActionServiceDeleteTargetRequest,
)
from zitadel_client.models.action_service_delete_target_response import (
    ActionServiceDeleteTargetResponse,
)
from zitadel_client.models.action_service_get_target_request import (
    ActionServiceGetTargetRequest,
)
from zitadel_client.models.action_service_get_target_response import (
    ActionServiceGetTargetResponse,
)
from zitadel_client.models.action_service_list_execution_functions_response import (
    ActionServiceListExecutionFunctionsResponse,
)
from zitadel_client.models.action_service_list_execution_methods_response import (
    ActionServiceListExecutionMethodsResponse,
)
from zitadel_client.models.action_service_list_execution_services_response import (
    ActionServiceListExecutionServicesResponse,
)
from zitadel_client.models.action_service_list_executions_request import (
    ActionServiceListExecutionsRequest,
)
from zitadel_client.models.action_service_list_executions_response import (
    ActionServiceListExecutionsResponse,
)
from zitadel_client.models.action_service_list_public_keys_request import (
    ActionServiceListPublicKeysRequest,
)
from zitadel_client.models.action_service_list_public_keys_response import (
    ActionServiceListPublicKeysResponse,
)
from zitadel_client.models.action_service_list_targets_request import (
    ActionServiceListTargetsRequest,
)
from zitadel_client.models.action_service_list_targets_response import (
    ActionServiceListTargetsResponse,
)
from zitadel_client.models.action_service_remove_public_key_request import (
    ActionServiceRemovePublicKeyRequest,
)
from zitadel_client.models.action_service_remove_public_key_response import (
    ActionServiceRemovePublicKeyResponse,
)
from zitadel_client.models.action_service_set_execution_request import (
    ActionServiceSetExecutionRequest,
)
from zitadel_client.models.action_service_set_execution_response import (
    ActionServiceSetExecutionResponse,
)
from zitadel_client.models.action_service_update_target_request import (
    ActionServiceUpdateTargetRequest,
)
from zitadel_client.models.action_service_update_target_response import (
    ActionServiceUpdateTargetResponse,
)

from ..api_client import ApiClient
from ..api_result import ApiResult
from ..configuration import Configuration
from .base_api import BaseApi
from ..value_serializer import ValueSerializer
from ..auth.authenticator import Authenticator
from ..errors import ApiException


class ActionServiceApi(BaseApi):
    """ActionServiceApi provides methods for the ActionService API group."""

    def __init__(
        self,
        api_client: Optional[ApiClient] = None,
        config: Optional[Configuration] = None,
        authenticator: Optional[Authenticator] = None,
    ):
        super().__init__(api_client, config, authenticator)

    async def activate_public_key(
        self,
        action_service_activate_public_key_request: ActionServiceActivatePublicKeyRequest,
    ) -> ActionServiceActivatePublicKeyResponse:
        """Activate Public Key
        Activates the public key for payload encryption.  The public key is used to encrypt the payload sent to the target when the payload type is set to `PAYLOAD_TYPE_JWE`.  Activating a new key will deactivate the current active key. Only one key can be active at a time.  The active key is indicated in the `kid` header in the JWE token sent to the target.  Activating a key that is already active is a no-op.   Required permission:    - `action.target.write`
        :param action_service_activate_public_key_request:  (required)

        :return: ActionServiceActivatePublicKeyResponse
        :raises ApiException: if fails to make API call
        """
        if action_service_activate_public_key_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_activate_public_key_request'"
            )

        result = await self.activate_public_key_with_http_info(
            action_service_activate_public_key_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def activate_public_key_with_http_info(
        self,
        action_service_activate_public_key_request: ActionServiceActivatePublicKeyRequest,
    ) -> "ApiResult[ActionServiceActivatePublicKeyResponse]":
        """Activate Public Key (with HTTP info)
        Activates the public key for payload encryption.  The public key is used to encrypt the payload sent to the target when the payload type is set to `PAYLOAD_TYPE_JWE`.  Activating a new key will deactivate the current active key. Only one key can be active at a time.  The active key is indicated in the `kid` header in the JWE token sent to the target.  Activating a key that is already active is a no-op.   Required permission:    - `action.target.write`
        :param action_service_activate_public_key_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if action_service_activate_public_key_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_activate_public_key_request'"
            )

        path = "/zitadel.action.v2.ActionService/ActivatePublicKey"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = action_service_activate_public_key_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ActionServiceActivatePublicKeyResponse",
            None,
        )

    async def add_public_key(
        self,
        action_service_add_public_key_request: ActionServiceAddPublicKeyRequest,
    ) -> ActionServiceAddPublicKeyResponse:
        """Add Public Key
        Adds a public key to the target for payload encryption.  The public key is used to encrypt the payload sent to the target when the payload type is set to `PAYLOAD_TYPE_JWE`.  The public key must be in PEM format and be either an RSA or an EC key.  On a successful addition, a key ID is returned which can not only be used to manage the key (activate, remove),  but also will be used as the `kid` header in the JWE token sent to the target to indicate which key was used for encryption.  Note that newly added keys are inactive by default. You must activate the key to use it for payload encryption.  Providing an optional expiration date allows you to set a validity period for the key.  After the expiration date, the key will be automatically deactivated and no longer used for payload encryption.  Be sure to activate a new key before the current active key expires to avoid interruptions in your target executions.  You can have multiple inactive keys for rotation purposes, but only one active key at a time.   Required permission:    - `action.target.write`
        :param action_service_add_public_key_request:  (required)

        :return: ActionServiceAddPublicKeyResponse
        :raises ApiException: if fails to make API call
        """
        if action_service_add_public_key_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_add_public_key_request'"
            )

        result = await self.add_public_key_with_http_info(
            action_service_add_public_key_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def add_public_key_with_http_info(
        self,
        action_service_add_public_key_request: ActionServiceAddPublicKeyRequest,
    ) -> "ApiResult[ActionServiceAddPublicKeyResponse]":
        """Add Public Key (with HTTP info)
        Adds a public key to the target for payload encryption.  The public key is used to encrypt the payload sent to the target when the payload type is set to `PAYLOAD_TYPE_JWE`.  The public key must be in PEM format and be either an RSA or an EC key.  On a successful addition, a key ID is returned which can not only be used to manage the key (activate, remove),  but also will be used as the `kid` header in the JWE token sent to the target to indicate which key was used for encryption.  Note that newly added keys are inactive by default. You must activate the key to use it for payload encryption.  Providing an optional expiration date allows you to set a validity period for the key.  After the expiration date, the key will be automatically deactivated and no longer used for payload encryption.  Be sure to activate a new key before the current active key expires to avoid interruptions in your target executions.  You can have multiple inactive keys for rotation purposes, but only one active key at a time.   Required permission:    - `action.target.write`
        :param action_service_add_public_key_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if action_service_add_public_key_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_add_public_key_request'"
            )

        path = "/zitadel.action.v2.ActionService/AddPublicKey"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = action_service_add_public_key_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ActionServiceAddPublicKeyResponse",
            None,
        )

    async def create_target(
        self,
        action_service_create_target_request: ActionServiceCreateTargetRequest,
    ) -> ActionServiceCreateTargetResponse:
        """Create Target
        Create a new target to your endpoint, which can be used in executions.   Required permission:    - `action.target.write`
        :param action_service_create_target_request:  (required)

        :return: ActionServiceCreateTargetResponse
        :raises ApiException: if fails to make API call
        """
        if action_service_create_target_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_create_target_request'"
            )

        result = await self.create_target_with_http_info(
            action_service_create_target_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def create_target_with_http_info(
        self,
        action_service_create_target_request: ActionServiceCreateTargetRequest,
    ) -> "ApiResult[ActionServiceCreateTargetResponse]":
        """Create Target (with HTTP info)
        Create a new target to your endpoint, which can be used in executions.   Required permission:    - `action.target.write`
        :param action_service_create_target_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if action_service_create_target_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_create_target_request'"
            )

        path = "/zitadel.action.v2.ActionService/CreateTarget"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = action_service_create_target_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ActionServiceCreateTargetResponse",
            None,
        )

    async def deactivate_public_key(
        self,
        action_service_deactivate_public_key_request: ActionServiceDeactivatePublicKeyRequest,
    ) -> ActionServiceDeactivatePublicKeyResponse:
        """Deactivate Public Key
        Deactivates the public key for payload encryption.  The public key will no longer be used to encrypt payloads sent to the target.  Be aware that deactivating the active key will leave the target without an active key.  Subsequent calls to the target with payload type `PAYLOAD_TYPE_JWE` will fail until a new key is activated.  This endpoint can be used in break glass scenarios to quickly disable a compromised key.  Deactivating a key that is already inactive is a no-op.   Required permission:    - `action.target.write`
        :param action_service_deactivate_public_key_request:  (required)

        :return: ActionServiceDeactivatePublicKeyResponse
        :raises ApiException: if fails to make API call
        """
        if action_service_deactivate_public_key_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_deactivate_public_key_request'"
            )

        result = await self.deactivate_public_key_with_http_info(
            action_service_deactivate_public_key_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def deactivate_public_key_with_http_info(
        self,
        action_service_deactivate_public_key_request: ActionServiceDeactivatePublicKeyRequest,
    ) -> "ApiResult[ActionServiceDeactivatePublicKeyResponse]":
        """Deactivate Public Key (with HTTP info)
        Deactivates the public key for payload encryption.  The public key will no longer be used to encrypt payloads sent to the target.  Be aware that deactivating the active key will leave the target without an active key.  Subsequent calls to the target with payload type `PAYLOAD_TYPE_JWE` will fail until a new key is activated.  This endpoint can be used in break glass scenarios to quickly disable a compromised key.  Deactivating a key that is already inactive is a no-op.   Required permission:    - `action.target.write`
        :param action_service_deactivate_public_key_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if action_service_deactivate_public_key_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_deactivate_public_key_request'"
            )

        path = "/zitadel.action.v2.ActionService/DeactivatePublicKey"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = action_service_deactivate_public_key_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ActionServiceDeactivatePublicKeyResponse",
            None,
        )

    async def delete_target(
        self,
        action_service_delete_target_request: ActionServiceDeleteTargetRequest,
    ) -> ActionServiceDeleteTargetResponse:
        """Delete Target
        Delete an existing target. This will remove it from any configured execution as well.  In case the target is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `action.target.delete`
        :param action_service_delete_target_request:  (required)

        :return: ActionServiceDeleteTargetResponse
        :raises ApiException: if fails to make API call
        """
        if action_service_delete_target_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_delete_target_request'"
            )

        result = await self.delete_target_with_http_info(
            action_service_delete_target_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def delete_target_with_http_info(
        self,
        action_service_delete_target_request: ActionServiceDeleteTargetRequest,
    ) -> "ApiResult[ActionServiceDeleteTargetResponse]":
        """Delete Target (with HTTP info)
        Delete an existing target. This will remove it from any configured execution as well.  In case the target is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `action.target.delete`
        :param action_service_delete_target_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if action_service_delete_target_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_delete_target_request'"
            )

        path = "/zitadel.action.v2.ActionService/DeleteTarget"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = action_service_delete_target_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ActionServiceDeleteTargetResponse",
            None,
        )

    async def get_target(
        self,
        action_service_get_target_request: ActionServiceGetTargetRequest,
    ) -> ActionServiceGetTargetResponse:
        """Get Target
        Returns the target identified by the requested ID.   Required permission:    - `action.target.read`
        :param action_service_get_target_request:  (required)

        :return: ActionServiceGetTargetResponse
        :raises ApiException: if fails to make API call
        """
        if action_service_get_target_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_get_target_request'"
            )

        result = await self.get_target_with_http_info(action_service_get_target_request)

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def get_target_with_http_info(
        self,
        action_service_get_target_request: ActionServiceGetTargetRequest,
    ) -> "ApiResult[ActionServiceGetTargetResponse]":
        """Get Target (with HTTP info)
        Returns the target identified by the requested ID.   Required permission:    - `action.target.read`
        :param action_service_get_target_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if action_service_get_target_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_get_target_request'"
            )

        path = "/zitadel.action.v2.ActionService/GetTarget"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = action_service_get_target_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ActionServiceGetTargetResponse",
            None,
        )

    async def list_execution_functions(
        self,
        body: object,
    ) -> ActionServiceListExecutionFunctionsResponse:
        """List Execution Functions
        List all available functions which can be used as condition for executions.
        :param body:  (required)

        :return: ActionServiceListExecutionFunctionsResponse
        :raises ApiException: if fails to make API call
        """
        if body is None:
            raise ValueError("Missing the required parameter 'body'")

        result = await self.list_execution_functions_with_http_info(body)

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_execution_functions_with_http_info(
        self,
        body: object,
    ) -> "ApiResult[ActionServiceListExecutionFunctionsResponse]":
        """List Execution Functions (with HTTP info)
        List all available functions which can be used as condition for executions.
        :param body:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if body is None:
            raise ValueError("Missing the required parameter 'body'")

        path = "/zitadel.action.v2.ActionService/ListExecutionFunctions"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = body

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ActionServiceListExecutionFunctionsResponse",
            None,
        )

    async def list_execution_methods(
        self,
        body: object,
    ) -> ActionServiceListExecutionMethodsResponse:
        """List Execution Methods
        List all available methods which can be used as condition for executions.
        :param body:  (required)

        :return: ActionServiceListExecutionMethodsResponse
        :raises ApiException: if fails to make API call
        """
        if body is None:
            raise ValueError("Missing the required parameter 'body'")

        result = await self.list_execution_methods_with_http_info(body)

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_execution_methods_with_http_info(
        self,
        body: object,
    ) -> "ApiResult[ActionServiceListExecutionMethodsResponse]":
        """List Execution Methods (with HTTP info)
        List all available methods which can be used as condition for executions.
        :param body:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if body is None:
            raise ValueError("Missing the required parameter 'body'")

        path = "/zitadel.action.v2.ActionService/ListExecutionMethods"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = body

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ActionServiceListExecutionMethodsResponse",
            None,
        )

    async def list_execution_services(
        self,
        body: object,
    ) -> ActionServiceListExecutionServicesResponse:
        """List Execution Services
        List all available services which can be used as condition for executions.
        :param body:  (required)

        :return: ActionServiceListExecutionServicesResponse
        :raises ApiException: if fails to make API call
        """
        if body is None:
            raise ValueError("Missing the required parameter 'body'")

        result = await self.list_execution_services_with_http_info(body)

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_execution_services_with_http_info(
        self,
        body: object,
    ) -> "ApiResult[ActionServiceListExecutionServicesResponse]":
        """List Execution Services (with HTTP info)
        List all available services which can be used as condition for executions.
        :param body:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if body is None:
            raise ValueError("Missing the required parameter 'body'")

        path = "/zitadel.action.v2.ActionService/ListExecutionServices"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = body

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ActionServiceListExecutionServicesResponse",
            None,
        )

    async def list_executions(
        self,
        action_service_list_executions_request: ActionServiceListExecutionsRequest,
    ) -> ActionServiceListExecutionsResponse:
        """List Executions
        List all matching executions. By default all executions of the instance are returned that have at least one execution target.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.execution.read`
        :param action_service_list_executions_request:  (required)

        :return: ActionServiceListExecutionsResponse
        :raises ApiException: if fails to make API call
        """
        if action_service_list_executions_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_list_executions_request'"
            )

        result = await self.list_executions_with_http_info(
            action_service_list_executions_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_executions_with_http_info(
        self,
        action_service_list_executions_request: ActionServiceListExecutionsRequest,
    ) -> "ApiResult[ActionServiceListExecutionsResponse]":
        """List Executions (with HTTP info)
        List all matching executions. By default all executions of the instance are returned that have at least one execution target.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.execution.read`
        :param action_service_list_executions_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if action_service_list_executions_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_list_executions_request'"
            )

        path = "/zitadel.action.v2.ActionService/ListExecutions"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = action_service_list_executions_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ActionServiceListExecutionsResponse",
            None,
        )

    async def list_public_keys(
        self,
        action_service_list_public_keys_request: ActionServiceListPublicKeysRequest,
    ) -> ActionServiceListPublicKeysResponse:
        """List Public Keys
        Lists all public keys of a target.  The response includes which key is active and the key's expiration dates.  This allows you to manage key rotations and ensure that your target always has an active key for payload encryption.   Required permission:    - `action.target.read`
        :param action_service_list_public_keys_request:  (required)

        :return: ActionServiceListPublicKeysResponse
        :raises ApiException: if fails to make API call
        """
        if action_service_list_public_keys_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_list_public_keys_request'"
            )

        result = await self.list_public_keys_with_http_info(
            action_service_list_public_keys_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_public_keys_with_http_info(
        self,
        action_service_list_public_keys_request: ActionServiceListPublicKeysRequest,
    ) -> "ApiResult[ActionServiceListPublicKeysResponse]":
        """List Public Keys (with HTTP info)
        Lists all public keys of a target.  The response includes which key is active and the key's expiration dates.  This allows you to manage key rotations and ensure that your target always has an active key for payload encryption.   Required permission:    - `action.target.read`
        :param action_service_list_public_keys_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if action_service_list_public_keys_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_list_public_keys_request'"
            )

        path = "/zitadel.action.v2.ActionService/ListPublicKeys"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = action_service_list_public_keys_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ActionServiceListPublicKeysResponse",
            None,
        )

    async def list_targets(
        self,
        action_service_list_targets_request: ActionServiceListTargetsRequest,
    ) -> ActionServiceListTargetsResponse:
        """List targets
        List all matching targets. By default all targets of the instance are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.target.read`
        :param action_service_list_targets_request:  (required)

        :return: ActionServiceListTargetsResponse
        :raises ApiException: if fails to make API call
        """
        if action_service_list_targets_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_list_targets_request'"
            )

        result = await self.list_targets_with_http_info(
            action_service_list_targets_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_targets_with_http_info(
        self,
        action_service_list_targets_request: ActionServiceListTargetsRequest,
    ) -> "ApiResult[ActionServiceListTargetsResponse]":
        """List targets (with HTTP info)
        List all matching targets. By default all targets of the instance are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.target.read`
        :param action_service_list_targets_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if action_service_list_targets_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_list_targets_request'"
            )

        path = "/zitadel.action.v2.ActionService/ListTargets"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = action_service_list_targets_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ActionServiceListTargetsResponse",
            None,
        )

    async def remove_public_key(
        self,
        action_service_remove_public_key_request: ActionServiceRemovePublicKeyRequest,
    ) -> ActionServiceRemovePublicKeyResponse:
        """Remove Public Key
        Removes the public key from the target. This is a permanent action and can not be undone.  Note that you can only remove inactive keys. Attempting to remove an active key will result in an error.  For break glass scenarios, deactivate the key first and then remove it.  Removing a non-existing key is a no-op.   Required permission:    - `action.target.write`
        :param action_service_remove_public_key_request:  (required)

        :return: ActionServiceRemovePublicKeyResponse
        :raises ApiException: if fails to make API call
        """
        if action_service_remove_public_key_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_remove_public_key_request'"
            )

        result = await self.remove_public_key_with_http_info(
            action_service_remove_public_key_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def remove_public_key_with_http_info(
        self,
        action_service_remove_public_key_request: ActionServiceRemovePublicKeyRequest,
    ) -> "ApiResult[ActionServiceRemovePublicKeyResponse]":
        """Remove Public Key (with HTTP info)
        Removes the public key from the target. This is a permanent action and can not be undone.  Note that you can only remove inactive keys. Attempting to remove an active key will result in an error.  For break glass scenarios, deactivate the key first and then remove it.  Removing a non-existing key is a no-op.   Required permission:    - `action.target.write`
        :param action_service_remove_public_key_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if action_service_remove_public_key_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_remove_public_key_request'"
            )

        path = "/zitadel.action.v2.ActionService/RemovePublicKey"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = action_service_remove_public_key_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ActionServiceRemovePublicKeyResponse",
            None,
        )

    async def set_execution(
        self,
        action_service_set_execution_request: ActionServiceSetExecutionRequest,
    ) -> ActionServiceSetExecutionResponse:
        """Set Execution
        Sets an execution to call a target or include the targets of another execution.  Setting an empty list of targets will remove all targets from the execution, making it a noop.   Required permission:    - `action.execution.write`
        :param action_service_set_execution_request:  (required)

        :return: ActionServiceSetExecutionResponse
        :raises ApiException: if fails to make API call
        """
        if action_service_set_execution_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_set_execution_request'"
            )

        result = await self.set_execution_with_http_info(
            action_service_set_execution_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def set_execution_with_http_info(
        self,
        action_service_set_execution_request: ActionServiceSetExecutionRequest,
    ) -> "ApiResult[ActionServiceSetExecutionResponse]":
        """Set Execution (with HTTP info)
        Sets an execution to call a target or include the targets of another execution.  Setting an empty list of targets will remove all targets from the execution, making it a noop.   Required permission:    - `action.execution.write`
        :param action_service_set_execution_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if action_service_set_execution_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_set_execution_request'"
            )

        path = "/zitadel.action.v2.ActionService/SetExecution"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = action_service_set_execution_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ActionServiceSetExecutionResponse",
            None,
        )

    async def update_target(
        self,
        action_service_update_target_request: ActionServiceUpdateTargetRequest,
    ) -> ActionServiceUpdateTargetResponse:
        """Update Target
        Update an existing target.  To generate a new signing key set the optional expirationSigningKey.   Required permission:    - `action.target.write`
        :param action_service_update_target_request:  (required)

        :return: ActionServiceUpdateTargetResponse
        :raises ApiException: if fails to make API call
        """
        if action_service_update_target_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_update_target_request'"
            )

        result = await self.update_target_with_http_info(
            action_service_update_target_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def update_target_with_http_info(
        self,
        action_service_update_target_request: ActionServiceUpdateTargetRequest,
    ) -> "ApiResult[ActionServiceUpdateTargetResponse]":
        """Update Target (with HTTP info)
        Update an existing target.  To generate a new signing key set the optional expirationSigningKey.   Required permission:    - `action.target.write`
        :param action_service_update_target_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if action_service_update_target_request is None:
            raise ValueError(
                "Missing the required parameter 'action_service_update_target_request'"
            )

        path = "/zitadel.action.v2.ActionService/UpdateTarget"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = action_service_update_target_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ActionServiceUpdateTargetResponse",
            None,
        )
