# ruff: noqa
# mypy: ignore-errors
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

from typing import Any, Dict, List, Optional
from pydantic import StrictBool, StrictFloat, StrictInt, StrictStr

from zitadel_client.models.application_service_connect_error import (
    ApplicationServiceConnectError,
)
from zitadel_client.models.application_service_create_application_key_request import (
    ApplicationServiceCreateApplicationKeyRequest,
)
from zitadel_client.models.application_service_create_application_key_response import (
    ApplicationServiceCreateApplicationKeyResponse,
)
from zitadel_client.models.application_service_create_application_request import (
    ApplicationServiceCreateApplicationRequest,
)
from zitadel_client.models.application_service_create_application_response import (
    ApplicationServiceCreateApplicationResponse,
)
from zitadel_client.models.application_service_deactivate_application_request import (
    ApplicationServiceDeactivateApplicationRequest,
)
from zitadel_client.models.application_service_deactivate_application_response import (
    ApplicationServiceDeactivateApplicationResponse,
)
from zitadel_client.models.application_service_delete_application_key_request import (
    ApplicationServiceDeleteApplicationKeyRequest,
)
from zitadel_client.models.application_service_delete_application_key_response import (
    ApplicationServiceDeleteApplicationKeyResponse,
)
from zitadel_client.models.application_service_delete_application_request import (
    ApplicationServiceDeleteApplicationRequest,
)
from zitadel_client.models.application_service_delete_application_response import (
    ApplicationServiceDeleteApplicationResponse,
)
from zitadel_client.models.application_service_generate_client_secret_request import (
    ApplicationServiceGenerateClientSecretRequest,
)
from zitadel_client.models.application_service_generate_client_secret_response import (
    ApplicationServiceGenerateClientSecretResponse,
)
from zitadel_client.models.application_service_get_application_key_request import (
    ApplicationServiceGetApplicationKeyRequest,
)
from zitadel_client.models.application_service_get_application_key_response import (
    ApplicationServiceGetApplicationKeyResponse,
)
from zitadel_client.models.application_service_get_application_request import (
    ApplicationServiceGetApplicationRequest,
)
from zitadel_client.models.application_service_get_application_response import (
    ApplicationServiceGetApplicationResponse,
)
from zitadel_client.models.application_service_list_application_keys_request import (
    ApplicationServiceListApplicationKeysRequest,
)
from zitadel_client.models.application_service_list_application_keys_response import (
    ApplicationServiceListApplicationKeysResponse,
)
from zitadel_client.models.application_service_list_applications_request import (
    ApplicationServiceListApplicationsRequest,
)
from zitadel_client.models.application_service_list_applications_response import (
    ApplicationServiceListApplicationsResponse,
)
from zitadel_client.models.application_service_reactivate_application_request import (
    ApplicationServiceReactivateApplicationRequest,
)
from zitadel_client.models.application_service_reactivate_application_response import (
    ApplicationServiceReactivateApplicationResponse,
)
from zitadel_client.models.application_service_update_application_request import (
    ApplicationServiceUpdateApplicationRequest,
)
from zitadel_client.models.application_service_update_application_response import (
    ApplicationServiceUpdateApplicationResponse,
)

from ..api_client import ApiClient
from ..api_result import ApiResult
from ..configuration import Configuration
from .base_api import BaseApi
from ..value_serializer import ValueSerializer
from ..auth.authenticator import Authenticator
from ..errors import ApiException


class ApplicationServiceApi(BaseApi):
    """ApplicationServiceApi provides methods for the ApplicationService API group."""

    def __init__(
        self,
        api_client: Optional[ApiClient] = None,
        config: Optional[Configuration] = None,
        authenticator: Optional[Authenticator] = None,
    ):
        super().__init__(api_client, config, authenticator)

    async def create_application(
        self,
        application_service_create_application_request: ApplicationServiceCreateApplicationRequest,
    ) -> ApplicationServiceCreateApplicationResponse:
        """Create Application
        Create an application. The application can be OIDC, API or SAML type, based on the input.   Required permissions:    - project.app.write
        :param application_service_create_application_request:  (required)

        :return: ApplicationServiceCreateApplicationResponse
        :raises ApiException: if fails to make API call
        """
        if application_service_create_application_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_create_application_request'"
            )

        result = await self.create_application_with_http_info(
            application_service_create_application_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def create_application_with_http_info(
        self,
        application_service_create_application_request: ApplicationServiceCreateApplicationRequest,
    ) -> "ApiResult[ApplicationServiceCreateApplicationResponse]":
        """Create Application (with HTTP info)
        Create an application. The application can be OIDC, API or SAML type, based on the input.   Required permissions:    - project.app.write
        :param application_service_create_application_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if application_service_create_application_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_create_application_request'"
            )

        path = "/zitadel.application.v2.ApplicationService/CreateApplication"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = application_service_create_application_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ApplicationServiceCreateApplicationResponse",
            None,
        )

    async def create_application_key(
        self,
        application_service_create_application_key_request: ApplicationServiceCreateApplicationKeyRequest,
    ) -> ApplicationServiceCreateApplicationKeyResponse:
        """Create Application Key
        Create a new application key, which is used to authorize an API application.   Key details are returned in the response. They must be stored safely, as it will not  be possible to retrieve them again.   Required permissions:    - `project.app.write`
        :param application_service_create_application_key_request:  (required)

        :return: ApplicationServiceCreateApplicationKeyResponse
        :raises ApiException: if fails to make API call
        """
        if application_service_create_application_key_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_create_application_key_request'"
            )

        result = await self.create_application_key_with_http_info(
            application_service_create_application_key_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def create_application_key_with_http_info(
        self,
        application_service_create_application_key_request: ApplicationServiceCreateApplicationKeyRequest,
    ) -> "ApiResult[ApplicationServiceCreateApplicationKeyResponse]":
        """Create Application Key (with HTTP info)
        Create a new application key, which is used to authorize an API application.   Key details are returned in the response. They must be stored safely, as it will not  be possible to retrieve them again.   Required permissions:    - `project.app.write`
        :param application_service_create_application_key_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if application_service_create_application_key_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_create_application_key_request'"
            )

        path = "/zitadel.application.v2.ApplicationService/CreateApplicationKey"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = application_service_create_application_key_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ApplicationServiceCreateApplicationKeyResponse",
            None,
        )

    async def deactivate_application(
        self,
        application_service_deactivate_application_request: ApplicationServiceDeactivateApplicationRequest,
    ) -> ApplicationServiceDeactivateApplicationResponse:
        """Deactivate Application
        Deactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write
        :param application_service_deactivate_application_request:  (required)

        :return: ApplicationServiceDeactivateApplicationResponse
        :raises ApiException: if fails to make API call
        """
        if application_service_deactivate_application_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_deactivate_application_request'"
            )

        result = await self.deactivate_application_with_http_info(
            application_service_deactivate_application_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def deactivate_application_with_http_info(
        self,
        application_service_deactivate_application_request: ApplicationServiceDeactivateApplicationRequest,
    ) -> "ApiResult[ApplicationServiceDeactivateApplicationResponse]":
        """Deactivate Application (with HTTP info)
        Deactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write
        :param application_service_deactivate_application_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if application_service_deactivate_application_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_deactivate_application_request'"
            )

        path = "/zitadel.application.v2.ApplicationService/DeactivateApplication"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = application_service_deactivate_application_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ApplicationServiceDeactivateApplicationResponse",
            None,
        )

    async def delete_application(
        self,
        application_service_delete_application_request: ApplicationServiceDeleteApplicationRequest,
    ) -> ApplicationServiceDeleteApplicationResponse:
        """Delete Application
        Deletes the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.delete
        :param application_service_delete_application_request:  (required)

        :return: ApplicationServiceDeleteApplicationResponse
        :raises ApiException: if fails to make API call
        """
        if application_service_delete_application_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_delete_application_request'"
            )

        result = await self.delete_application_with_http_info(
            application_service_delete_application_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def delete_application_with_http_info(
        self,
        application_service_delete_application_request: ApplicationServiceDeleteApplicationRequest,
    ) -> "ApiResult[ApplicationServiceDeleteApplicationResponse]":
        """Delete Application (with HTTP info)
        Deletes the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.delete
        :param application_service_delete_application_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if application_service_delete_application_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_delete_application_request'"
            )

        path = "/zitadel.application.v2.ApplicationService/DeleteApplication"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = application_service_delete_application_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ApplicationServiceDeleteApplicationResponse",
            None,
        )

    async def delete_application_key(
        self,
        application_service_delete_application_key_request: ApplicationServiceDeleteApplicationKeyRequest,
    ) -> ApplicationServiceDeleteApplicationKeyResponse:
        """Delete Application Key
        Deletes an application key matching the provided ID.   Organization ID is not mandatory, but helps with filtering/performance.   The deletion time is returned in response message.   Required permissions:    - `project.app.write`
        :param application_service_delete_application_key_request:  (required)

        :return: ApplicationServiceDeleteApplicationKeyResponse
        :raises ApiException: if fails to make API call
        """
        if application_service_delete_application_key_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_delete_application_key_request'"
            )

        result = await self.delete_application_key_with_http_info(
            application_service_delete_application_key_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def delete_application_key_with_http_info(
        self,
        application_service_delete_application_key_request: ApplicationServiceDeleteApplicationKeyRequest,
    ) -> "ApiResult[ApplicationServiceDeleteApplicationKeyResponse]":
        """Delete Application Key (with HTTP info)
        Deletes an application key matching the provided ID.   Organization ID is not mandatory, but helps with filtering/performance.   The deletion time is returned in response message.   Required permissions:    - `project.app.write`
        :param application_service_delete_application_key_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if application_service_delete_application_key_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_delete_application_key_request'"
            )

        path = "/zitadel.application.v2.ApplicationService/DeleteApplicationKey"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = application_service_delete_application_key_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ApplicationServiceDeleteApplicationKeyResponse",
            None,
        )

    async def generate_client_secret(
        self,
        application_service_generate_client_secret_request: ApplicationServiceGenerateClientSecretRequest,
    ) -> ApplicationServiceGenerateClientSecretResponse:
        """Generate Client Secret
        Generates the client secret of an API or OIDC application that belongs to the input project.   Required permissions:    - project.app.write
        :param application_service_generate_client_secret_request:  (required)

        :return: ApplicationServiceGenerateClientSecretResponse
        :raises ApiException: if fails to make API call
        """
        if application_service_generate_client_secret_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_generate_client_secret_request'"
            )

        result = await self.generate_client_secret_with_http_info(
            application_service_generate_client_secret_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def generate_client_secret_with_http_info(
        self,
        application_service_generate_client_secret_request: ApplicationServiceGenerateClientSecretRequest,
    ) -> "ApiResult[ApplicationServiceGenerateClientSecretResponse]":
        """Generate Client Secret (with HTTP info)
        Generates the client secret of an API or OIDC application that belongs to the input project.   Required permissions:    - project.app.write
        :param application_service_generate_client_secret_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if application_service_generate_client_secret_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_generate_client_secret_request'"
            )

        path = "/zitadel.application.v2.ApplicationService/GenerateClientSecret"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = application_service_generate_client_secret_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ApplicationServiceGenerateClientSecretResponse",
            None,
        )

    async def get_application(
        self,
        application_service_get_application_request: ApplicationServiceGetApplicationRequest,
    ) -> ApplicationServiceGetApplicationResponse:
        """Get Application
        Retrieves the application matching the provided ID.   Required permissions:    - project.app.read
        :param application_service_get_application_request:  (required)

        :return: ApplicationServiceGetApplicationResponse
        :raises ApiException: if fails to make API call
        """
        if application_service_get_application_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_get_application_request'"
            )

        result = await self.get_application_with_http_info(
            application_service_get_application_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def get_application_with_http_info(
        self,
        application_service_get_application_request: ApplicationServiceGetApplicationRequest,
    ) -> "ApiResult[ApplicationServiceGetApplicationResponse]":
        """Get Application (with HTTP info)
        Retrieves the application matching the provided ID.   Required permissions:    - project.app.read
        :param application_service_get_application_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if application_service_get_application_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_get_application_request'"
            )

        path = "/zitadel.application.v2.ApplicationService/GetApplication"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = application_service_get_application_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ApplicationServiceGetApplicationResponse",
            None,
        )

    async def get_application_key(
        self,
        application_service_get_application_key_request: ApplicationServiceGetApplicationKeyRequest,
    ) -> ApplicationServiceGetApplicationKeyResponse:
        """Get Application Key
        Retrieves the application key matching the provided ID.   Specifying a project, organization and application ID is optional but help with filtering/performance.   Required permissions:    - project.app.read
        :param application_service_get_application_key_request:  (required)

        :return: ApplicationServiceGetApplicationKeyResponse
        :raises ApiException: if fails to make API call
        """
        if application_service_get_application_key_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_get_application_key_request'"
            )

        result = await self.get_application_key_with_http_info(
            application_service_get_application_key_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def get_application_key_with_http_info(
        self,
        application_service_get_application_key_request: ApplicationServiceGetApplicationKeyRequest,
    ) -> "ApiResult[ApplicationServiceGetApplicationKeyResponse]":
        """Get Application Key (with HTTP info)
        Retrieves the application key matching the provided ID.   Specifying a project, organization and application ID is optional but help with filtering/performance.   Required permissions:    - project.app.read
        :param application_service_get_application_key_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if application_service_get_application_key_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_get_application_key_request'"
            )

        path = "/zitadel.application.v2.ApplicationService/GetApplicationKey"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = application_service_get_application_key_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ApplicationServiceGetApplicationKeyResponse",
            None,
        )

    async def list_application_keys(
        self,
        application_service_list_application_keys_request: ApplicationServiceListApplicationKeysRequest,
    ) -> ApplicationServiceListApplicationKeysResponse:
        """List Application Keys
        Returns a list of application keys matching the input parameters.   The result can be sorted by id, aggregate, creation date, expiration date, resource owner or type.  It can also be filtered by application, project or organization ID.   Required permissions:    - project.app.read
        :param application_service_list_application_keys_request:  (required)

        :return: ApplicationServiceListApplicationKeysResponse
        :raises ApiException: if fails to make API call
        """
        if application_service_list_application_keys_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_list_application_keys_request'"
            )

        result = await self.list_application_keys_with_http_info(
            application_service_list_application_keys_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_application_keys_with_http_info(
        self,
        application_service_list_application_keys_request: ApplicationServiceListApplicationKeysRequest,
    ) -> "ApiResult[ApplicationServiceListApplicationKeysResponse]":
        """List Application Keys (with HTTP info)
        Returns a list of application keys matching the input parameters.   The result can be sorted by id, aggregate, creation date, expiration date, resource owner or type.  It can also be filtered by application, project or organization ID.   Required permissions:    - project.app.read
        :param application_service_list_application_keys_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if application_service_list_application_keys_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_list_application_keys_request'"
            )

        path = "/zitadel.application.v2.ApplicationService/ListApplicationKeys"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = application_service_list_application_keys_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ApplicationServiceListApplicationKeysResponse",
            None,
        )

    async def list_applications(
        self,
        application_service_list_applications_request: ApplicationServiceListApplicationsRequest,
    ) -> ApplicationServiceListApplicationsResponse:
        """List Applications
        Returns a list of applications matching the input parameters. The results can be filtered  by project, state, type and name. It can be sorted by id, name, creation date, change date or state.   Required permissions:    - project.app.read
        :param application_service_list_applications_request:  (required)

        :return: ApplicationServiceListApplicationsResponse
        :raises ApiException: if fails to make API call
        """
        if application_service_list_applications_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_list_applications_request'"
            )

        result = await self.list_applications_with_http_info(
            application_service_list_applications_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_applications_with_http_info(
        self,
        application_service_list_applications_request: ApplicationServiceListApplicationsRequest,
    ) -> "ApiResult[ApplicationServiceListApplicationsResponse]":
        """List Applications (with HTTP info)
        Returns a list of applications matching the input parameters. The results can be filtered  by project, state, type and name. It can be sorted by id, name, creation date, change date or state.   Required permissions:    - project.app.read
        :param application_service_list_applications_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if application_service_list_applications_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_list_applications_request'"
            )

        path = "/zitadel.application.v2.ApplicationService/ListApplications"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = application_service_list_applications_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ApplicationServiceListApplicationsResponse",
            None,
        )

    async def reactivate_application(
        self,
        application_service_reactivate_application_request: ApplicationServiceReactivateApplicationRequest,
    ) -> ApplicationServiceReactivateApplicationResponse:
        """Reactivate Application
        Reactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write
        :param application_service_reactivate_application_request:  (required)

        :return: ApplicationServiceReactivateApplicationResponse
        :raises ApiException: if fails to make API call
        """
        if application_service_reactivate_application_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_reactivate_application_request'"
            )

        result = await self.reactivate_application_with_http_info(
            application_service_reactivate_application_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def reactivate_application_with_http_info(
        self,
        application_service_reactivate_application_request: ApplicationServiceReactivateApplicationRequest,
    ) -> "ApiResult[ApplicationServiceReactivateApplicationResponse]":
        """Reactivate Application (with HTTP info)
        Reactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write
        :param application_service_reactivate_application_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if application_service_reactivate_application_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_reactivate_application_request'"
            )

        path = "/zitadel.application.v2.ApplicationService/ReactivateApplication"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = application_service_reactivate_application_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ApplicationServiceReactivateApplicationResponse",
            None,
        )

    async def update_application(
        self,
        application_service_update_application_request: ApplicationServiceUpdateApplicationRequest,
    ) -> ApplicationServiceUpdateApplicationResponse:
        """Update Application
        Changes the configuration of an OIDC, API or SAML type application, as well as  the application name, based on the input provided.   Required permissions:    - project.app.write
        :param application_service_update_application_request:  (required)

        :return: ApplicationServiceUpdateApplicationResponse
        :raises ApiException: if fails to make API call
        """
        if application_service_update_application_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_update_application_request'"
            )

        result = await self.update_application_with_http_info(
            application_service_update_application_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def update_application_with_http_info(
        self,
        application_service_update_application_request: ApplicationServiceUpdateApplicationRequest,
    ) -> "ApiResult[ApplicationServiceUpdateApplicationResponse]":
        """Update Application (with HTTP info)
        Changes the configuration of an OIDC, API or SAML type application, as well as  the application name, based on the input provided.   Required permissions:    - project.app.write
        :param application_service_update_application_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if application_service_update_application_request is None:
            raise ValueError(
                "Missing the required parameter 'application_service_update_application_request'"
            )

        path = "/zitadel.application.v2.ApplicationService/UpdateApplication"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = application_service_update_application_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "ApplicationServiceUpdateApplicationResponse",
            None,
        )
