# ruff: noqa
# mypy: ignore-errors
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

from typing import Any, Dict, List, Optional
from pydantic import StrictBool, StrictFloat, StrictInt, StrictStr

from zitadel_client.models.authorization_service_activate_authorization_request import (
    AuthorizationServiceActivateAuthorizationRequest,
)
from zitadel_client.models.authorization_service_activate_authorization_response import (
    AuthorizationServiceActivateAuthorizationResponse,
)
from zitadel_client.models.authorization_service_connect_error import (
    AuthorizationServiceConnectError,
)
from zitadel_client.models.authorization_service_create_authorization_request import (
    AuthorizationServiceCreateAuthorizationRequest,
)
from zitadel_client.models.authorization_service_create_authorization_response import (
    AuthorizationServiceCreateAuthorizationResponse,
)
from zitadel_client.models.authorization_service_deactivate_authorization_request import (
    AuthorizationServiceDeactivateAuthorizationRequest,
)
from zitadel_client.models.authorization_service_deactivate_authorization_response import (
    AuthorizationServiceDeactivateAuthorizationResponse,
)
from zitadel_client.models.authorization_service_delete_authorization_request import (
    AuthorizationServiceDeleteAuthorizationRequest,
)
from zitadel_client.models.authorization_service_delete_authorization_response import (
    AuthorizationServiceDeleteAuthorizationResponse,
)
from zitadel_client.models.authorization_service_list_authorizations_request import (
    AuthorizationServiceListAuthorizationsRequest,
)
from zitadel_client.models.authorization_service_list_authorizations_response import (
    AuthorizationServiceListAuthorizationsResponse,
)
from zitadel_client.models.authorization_service_update_authorization_request import (
    AuthorizationServiceUpdateAuthorizationRequest,
)
from zitadel_client.models.authorization_service_update_authorization_response import (
    AuthorizationServiceUpdateAuthorizationResponse,
)

from ..api_client import ApiClient
from ..api_result import ApiResult
from ..configuration import Configuration
from .base_api import BaseApi
from ..value_serializer import ValueSerializer
from ..auth.authenticator import Authenticator
from ..errors import ApiException


class AuthorizationServiceApi(BaseApi):
    """AuthorizationServiceApi provides methods for the AuthorizationService API group."""

    def __init__(
        self,
        api_client: Optional[ApiClient] = None,
        config: Optional[Configuration] = None,
        authenticator: Optional[Authenticator] = None,
    ):
        super().__init__(api_client, config, authenticator)

    async def activate_authorization(
        self,
        authorization_service_activate_authorization_request: AuthorizationServiceActivateAuthorizationRequest,
    ) -> AuthorizationServiceActivateAuthorizationResponse:
        """Activate Authorization
        ActivateAuthorization activates an existing but inactive authorization.   In case the authorization is already active, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was activated by the request.   Required permissions:    - \"user.grant.write\"
        :param authorization_service_activate_authorization_request:  (required)

        :return: AuthorizationServiceActivateAuthorizationResponse
        :raises ApiException: if fails to make API call
        """
        if authorization_service_activate_authorization_request is None:
            raise ValueError(
                "Missing the required parameter 'authorization_service_activate_authorization_request'"
            )

        result = await self.activate_authorization_with_http_info(
            authorization_service_activate_authorization_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def activate_authorization_with_http_info(
        self,
        authorization_service_activate_authorization_request: AuthorizationServiceActivateAuthorizationRequest,
    ) -> "ApiResult[AuthorizationServiceActivateAuthorizationResponse]":
        """Activate Authorization (with HTTP info)
        ActivateAuthorization activates an existing but inactive authorization.   In case the authorization is already active, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was activated by the request.   Required permissions:    - \"user.grant.write\"
        :param authorization_service_activate_authorization_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if authorization_service_activate_authorization_request is None:
            raise ValueError(
                "Missing the required parameter 'authorization_service_activate_authorization_request'"
            )

        path = "/zitadel.authorization.v2.AuthorizationService/ActivateAuthorization"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = authorization_service_activate_authorization_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "AuthorizationServiceActivateAuthorizationResponse",
            None,
        )

    async def create_authorization(
        self,
        authorization_service_create_authorization_request: AuthorizationServiceCreateAuthorizationRequest,
    ) -> AuthorizationServiceCreateAuthorizationResponse:
        """Create Authorization
        CreateAuthorization creates a new authorization for a user in an owned or granted project.   Required permissions:    - \"user.grant.write\"
        :param authorization_service_create_authorization_request:  (required)

        :return: AuthorizationServiceCreateAuthorizationResponse
        :raises ApiException: if fails to make API call
        """
        if authorization_service_create_authorization_request is None:
            raise ValueError(
                "Missing the required parameter 'authorization_service_create_authorization_request'"
            )

        result = await self.create_authorization_with_http_info(
            authorization_service_create_authorization_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def create_authorization_with_http_info(
        self,
        authorization_service_create_authorization_request: AuthorizationServiceCreateAuthorizationRequest,
    ) -> "ApiResult[AuthorizationServiceCreateAuthorizationResponse]":
        """Create Authorization (with HTTP info)
        CreateAuthorization creates a new authorization for a user in an owned or granted project.   Required permissions:    - \"user.grant.write\"
        :param authorization_service_create_authorization_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if authorization_service_create_authorization_request is None:
            raise ValueError(
                "Missing the required parameter 'authorization_service_create_authorization_request'"
            )

        path = "/zitadel.authorization.v2.AuthorizationService/CreateAuthorization"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = authorization_service_create_authorization_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "AuthorizationServiceCreateAuthorizationResponse",
            None,
        )

    async def deactivate_authorization(
        self,
        authorization_service_deactivate_authorization_request: AuthorizationServiceDeactivateAuthorizationRequest,
    ) -> AuthorizationServiceDeactivateAuthorizationResponse:
        """Deactivate Authorization
        DeactivateAuthorization deactivates an existing and active authorization.   In case the authorization is already inactive, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was deactivated by the request.   Required permissions:    - \"user.grant.write\"
        :param authorization_service_deactivate_authorization_request:  (required)

        :return: AuthorizationServiceDeactivateAuthorizationResponse
        :raises ApiException: if fails to make API call
        """
        if authorization_service_deactivate_authorization_request is None:
            raise ValueError(
                "Missing the required parameter 'authorization_service_deactivate_authorization_request'"
            )

        result = await self.deactivate_authorization_with_http_info(
            authorization_service_deactivate_authorization_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def deactivate_authorization_with_http_info(
        self,
        authorization_service_deactivate_authorization_request: AuthorizationServiceDeactivateAuthorizationRequest,
    ) -> "ApiResult[AuthorizationServiceDeactivateAuthorizationResponse]":
        """Deactivate Authorization (with HTTP info)
        DeactivateAuthorization deactivates an existing and active authorization.   In case the authorization is already inactive, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was deactivated by the request.   Required permissions:    - \"user.grant.write\"
        :param authorization_service_deactivate_authorization_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if authorization_service_deactivate_authorization_request is None:
            raise ValueError(
                "Missing the required parameter 'authorization_service_deactivate_authorization_request'"
            )

        path = "/zitadel.authorization.v2.AuthorizationService/DeactivateAuthorization"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = authorization_service_deactivate_authorization_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "AuthorizationServiceDeactivateAuthorizationResponse",
            None,
        )

    async def delete_authorization(
        self,
        authorization_service_delete_authorization_request: AuthorizationServiceDeleteAuthorizationRequest,
    ) -> AuthorizationServiceDeleteAuthorizationResponse:
        """Delete Authorization
        DeleteAuthorization deletes the authorization.   In case the authorization is not found, the request will return a successful response as  the desired state is already achieved.  You can check the deletion date in the response to verify if the authorization was deleted by the request.   Required permissions:    - \"user.grant.delete\"
        :param authorization_service_delete_authorization_request:  (required)

        :return: AuthorizationServiceDeleteAuthorizationResponse
        :raises ApiException: if fails to make API call
        """
        if authorization_service_delete_authorization_request is None:
            raise ValueError(
                "Missing the required parameter 'authorization_service_delete_authorization_request'"
            )

        result = await self.delete_authorization_with_http_info(
            authorization_service_delete_authorization_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def delete_authorization_with_http_info(
        self,
        authorization_service_delete_authorization_request: AuthorizationServiceDeleteAuthorizationRequest,
    ) -> "ApiResult[AuthorizationServiceDeleteAuthorizationResponse]":
        """Delete Authorization (with HTTP info)
        DeleteAuthorization deletes the authorization.   In case the authorization is not found, the request will return a successful response as  the desired state is already achieved.  You can check the deletion date in the response to verify if the authorization was deleted by the request.   Required permissions:    - \"user.grant.delete\"
        :param authorization_service_delete_authorization_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if authorization_service_delete_authorization_request is None:
            raise ValueError(
                "Missing the required parameter 'authorization_service_delete_authorization_request'"
            )

        path = "/zitadel.authorization.v2.AuthorizationService/DeleteAuthorization"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = authorization_service_delete_authorization_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "AuthorizationServiceDeleteAuthorizationResponse",
            None,
        )

    async def list_authorizations(
        self,
        authorization_service_list_authorizations_request: AuthorizationServiceListAuthorizationsRequest,
    ) -> AuthorizationServiceListAuthorizationsResponse:
        """List Authorizations
        ListAuthorizations returns all authorizations matching the request and necessary permissions.   Required permissions:    - \"user.grant.read\"    - no permissions required for listing own authorizations
        :param authorization_service_list_authorizations_request:  (required)

        :return: AuthorizationServiceListAuthorizationsResponse
        :raises ApiException: if fails to make API call
        """
        if authorization_service_list_authorizations_request is None:
            raise ValueError(
                "Missing the required parameter 'authorization_service_list_authorizations_request'"
            )

        result = await self.list_authorizations_with_http_info(
            authorization_service_list_authorizations_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_authorizations_with_http_info(
        self,
        authorization_service_list_authorizations_request: AuthorizationServiceListAuthorizationsRequest,
    ) -> "ApiResult[AuthorizationServiceListAuthorizationsResponse]":
        """List Authorizations (with HTTP info)
        ListAuthorizations returns all authorizations matching the request and necessary permissions.   Required permissions:    - \"user.grant.read\"    - no permissions required for listing own authorizations
        :param authorization_service_list_authorizations_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if authorization_service_list_authorizations_request is None:
            raise ValueError(
                "Missing the required parameter 'authorization_service_list_authorizations_request'"
            )

        path = "/zitadel.authorization.v2.AuthorizationService/ListAuthorizations"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = authorization_service_list_authorizations_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "AuthorizationServiceListAuthorizationsResponse",
            None,
        )

    async def update_authorization(
        self,
        authorization_service_update_authorization_request: AuthorizationServiceUpdateAuthorizationRequest,
    ) -> AuthorizationServiceUpdateAuthorizationResponse:
        """Update Authorization
        UpdateAuthorization updates the authorization.   Note that any role keys previously granted to the user and not present in the request will be revoked.   Required permissions:    - \"user.grant.write\"
        :param authorization_service_update_authorization_request:  (required)

        :return: AuthorizationServiceUpdateAuthorizationResponse
        :raises ApiException: if fails to make API call
        """
        if authorization_service_update_authorization_request is None:
            raise ValueError(
                "Missing the required parameter 'authorization_service_update_authorization_request'"
            )

        result = await self.update_authorization_with_http_info(
            authorization_service_update_authorization_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def update_authorization_with_http_info(
        self,
        authorization_service_update_authorization_request: AuthorizationServiceUpdateAuthorizationRequest,
    ) -> "ApiResult[AuthorizationServiceUpdateAuthorizationResponse]":
        """Update Authorization (with HTTP info)
        UpdateAuthorization updates the authorization.   Note that any role keys previously granted to the user and not present in the request will be revoked.   Required permissions:    - \"user.grant.write\"
        :param authorization_service_update_authorization_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if authorization_service_update_authorization_request is None:
            raise ValueError(
                "Missing the required parameter 'authorization_service_update_authorization_request'"
            )

        path = "/zitadel.authorization.v2.AuthorizationService/UpdateAuthorization"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = authorization_service_update_authorization_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "AuthorizationServiceUpdateAuthorizationResponse",
            None,
        )
