# ruff: noqa
# mypy: ignore-errors
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

from typing import Any, Dict, List, Optional
from pydantic import StrictBool, StrictFloat, StrictInt, StrictStr

from zitadel_client.models.beta_instance_service_add_custom_domain_request import (
    BetaInstanceServiceAddCustomDomainRequest,
)
from zitadel_client.models.beta_instance_service_add_custom_domain_response import (
    BetaInstanceServiceAddCustomDomainResponse,
)
from zitadel_client.models.beta_instance_service_add_trusted_domain_request import (
    BetaInstanceServiceAddTrustedDomainRequest,
)
from zitadel_client.models.beta_instance_service_add_trusted_domain_response import (
    BetaInstanceServiceAddTrustedDomainResponse,
)
from zitadel_client.models.beta_instance_service_connect_error import (
    BetaInstanceServiceConnectError,
)
from zitadel_client.models.beta_instance_service_delete_instance_request import (
    BetaInstanceServiceDeleteInstanceRequest,
)
from zitadel_client.models.beta_instance_service_delete_instance_response import (
    BetaInstanceServiceDeleteInstanceResponse,
)
from zitadel_client.models.beta_instance_service_get_instance_request import (
    BetaInstanceServiceGetInstanceRequest,
)
from zitadel_client.models.beta_instance_service_get_instance_response import (
    BetaInstanceServiceGetInstanceResponse,
)
from zitadel_client.models.beta_instance_service_list_custom_domains_request import (
    BetaInstanceServiceListCustomDomainsRequest,
)
from zitadel_client.models.beta_instance_service_list_custom_domains_response import (
    BetaInstanceServiceListCustomDomainsResponse,
)
from zitadel_client.models.beta_instance_service_list_instances_request import (
    BetaInstanceServiceListInstancesRequest,
)
from zitadel_client.models.beta_instance_service_list_instances_response import (
    BetaInstanceServiceListInstancesResponse,
)
from zitadel_client.models.beta_instance_service_list_trusted_domains_request import (
    BetaInstanceServiceListTrustedDomainsRequest,
)
from zitadel_client.models.beta_instance_service_list_trusted_domains_response import (
    BetaInstanceServiceListTrustedDomainsResponse,
)
from zitadel_client.models.beta_instance_service_remove_custom_domain_request import (
    BetaInstanceServiceRemoveCustomDomainRequest,
)
from zitadel_client.models.beta_instance_service_remove_custom_domain_response import (
    BetaInstanceServiceRemoveCustomDomainResponse,
)
from zitadel_client.models.beta_instance_service_remove_trusted_domain_request import (
    BetaInstanceServiceRemoveTrustedDomainRequest,
)
from zitadel_client.models.beta_instance_service_remove_trusted_domain_response import (
    BetaInstanceServiceRemoveTrustedDomainResponse,
)
from zitadel_client.models.beta_instance_service_update_instance_request import (
    BetaInstanceServiceUpdateInstanceRequest,
)
from zitadel_client.models.beta_instance_service_update_instance_response import (
    BetaInstanceServiceUpdateInstanceResponse,
)

from ..api_client import ApiClient
from ..api_result import ApiResult
from ..configuration import Configuration
from .base_api import BaseApi
from ..value_serializer import ValueSerializer
from ..auth.authenticator import Authenticator
from ..errors import ApiException


class BetaInstanceServiceApi(BaseApi):
    """BetaInstanceServiceApi provides methods for the BetaInstanceService API group."""

    def __init__(
        self,
        api_client: Optional[ApiClient] = None,
        config: Optional[Configuration] = None,
        authenticator: Optional[Authenticator] = None,
    ):
        super().__init__(api_client, config, authenticator)

    async def add_custom_domain(
        self,
        beta_instance_service_add_custom_domain_request: BetaInstanceServiceAddCustomDomainRequest,
    ) -> BetaInstanceServiceAddCustomDomainResponse:
        """Add Custom Domain
        Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Adds a custom domain to the instance in context.   The instance_id in the input message will be used in the future   Required permissions:    - `system.domain.write`
        :param beta_instance_service_add_custom_domain_request:  (required)

        :return: BetaInstanceServiceAddCustomDomainResponse
        :raises ApiException: if fails to make API call
        """
        if beta_instance_service_add_custom_domain_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_instance_service_add_custom_domain_request'"
            )

        result = await self.add_custom_domain_with_http_info(
            beta_instance_service_add_custom_domain_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def add_custom_domain_with_http_info(
        self,
        beta_instance_service_add_custom_domain_request: BetaInstanceServiceAddCustomDomainRequest,
    ) -> "ApiResult[BetaInstanceServiceAddCustomDomainResponse]":
        """Add Custom Domain (with HTTP info)
        Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Adds a custom domain to the instance in context.   The instance_id in the input message will be used in the future   Required permissions:    - `system.domain.write`
        :param beta_instance_service_add_custom_domain_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_instance_service_add_custom_domain_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_instance_service_add_custom_domain_request'"
            )

        path = "/zitadel.instance.v2beta.InstanceService/AddCustomDomain"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_instance_service_add_custom_domain_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaInstanceServiceAddCustomDomainResponse",
            None,
        )

    async def add_trusted_domain(
        self,
        beta_instance_service_add_trusted_domain_request: BetaInstanceServiceAddTrustedDomainRequest,
    ) -> BetaInstanceServiceAddTrustedDomainResponse:
        """Add Trusted Domain
        Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Adds a trusted domain to the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `iam.write`
        :param beta_instance_service_add_trusted_domain_request:  (required)

        :return: BetaInstanceServiceAddTrustedDomainResponse
        :raises ApiException: if fails to make API call
        """
        if beta_instance_service_add_trusted_domain_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_instance_service_add_trusted_domain_request'"
            )

        result = await self.add_trusted_domain_with_http_info(
            beta_instance_service_add_trusted_domain_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def add_trusted_domain_with_http_info(
        self,
        beta_instance_service_add_trusted_domain_request: BetaInstanceServiceAddTrustedDomainRequest,
    ) -> "ApiResult[BetaInstanceServiceAddTrustedDomainResponse]":
        """Add Trusted Domain (with HTTP info)
        Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Adds a trusted domain to the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `iam.write`
        :param beta_instance_service_add_trusted_domain_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_instance_service_add_trusted_domain_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_instance_service_add_trusted_domain_request'"
            )

        path = "/zitadel.instance.v2beta.InstanceService/AddTrustedDomain"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_instance_service_add_trusted_domain_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaInstanceServiceAddTrustedDomainResponse",
            None,
        )

    async def delete_instance(
        self,
        beta_instance_service_delete_instance_request: BetaInstanceServiceDeleteInstanceRequest,
    ) -> BetaInstanceServiceDeleteInstanceResponse:
        """Delete Instance
        Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Deletes an instance with the given ID.   Required permissions:    - `system.instance.delete`
        :param beta_instance_service_delete_instance_request:  (required)

        :return: BetaInstanceServiceDeleteInstanceResponse
        :raises ApiException: if fails to make API call
        """
        if beta_instance_service_delete_instance_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_instance_service_delete_instance_request'"
            )

        result = await self.delete_instance_with_http_info(
            beta_instance_service_delete_instance_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def delete_instance_with_http_info(
        self,
        beta_instance_service_delete_instance_request: BetaInstanceServiceDeleteInstanceRequest,
    ) -> "ApiResult[BetaInstanceServiceDeleteInstanceResponse]":
        """Delete Instance (with HTTP info)
        Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Deletes an instance with the given ID.   Required permissions:    - `system.instance.delete`
        :param beta_instance_service_delete_instance_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_instance_service_delete_instance_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_instance_service_delete_instance_request'"
            )

        path = "/zitadel.instance.v2beta.InstanceService/DeleteInstance"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_instance_service_delete_instance_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaInstanceServiceDeleteInstanceResponse",
            None,
        )

    async def get_instance(
        self,
        beta_instance_service_get_instance_request: BetaInstanceServiceGetInstanceRequest,
    ) -> BetaInstanceServiceGetInstanceResponse:
        """Get Instance
        Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns the instance in the current context.   The instance_id in the input message will be used in the future.   Required permissions:    - `iam.read`
        :param beta_instance_service_get_instance_request:  (required)

        :return: BetaInstanceServiceGetInstanceResponse
        :raises ApiException: if fails to make API call
        """
        if beta_instance_service_get_instance_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_instance_service_get_instance_request'"
            )

        result = await self.get_instance_with_http_info(
            beta_instance_service_get_instance_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def get_instance_with_http_info(
        self,
        beta_instance_service_get_instance_request: BetaInstanceServiceGetInstanceRequest,
    ) -> "ApiResult[BetaInstanceServiceGetInstanceResponse]":
        """Get Instance (with HTTP info)
        Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns the instance in the current context.   The instance_id in the input message will be used in the future.   Required permissions:    - `iam.read`
        :param beta_instance_service_get_instance_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_instance_service_get_instance_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_instance_service_get_instance_request'"
            )

        path = "/zitadel.instance.v2beta.InstanceService/GetInstance"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_instance_service_get_instance_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaInstanceServiceGetInstanceResponse",
            None,
        )

    async def list_custom_domains(
        self,
        beta_instance_service_list_custom_domains_request: BetaInstanceServiceListCustomDomainsRequest,
    ) -> BetaInstanceServiceListCustomDomainsResponse:
        """List Custom Domains
        Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Lists custom domains of the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `iam.read`
        :param beta_instance_service_list_custom_domains_request:  (required)

        :return: BetaInstanceServiceListCustomDomainsResponse
        :raises ApiException: if fails to make API call
        """
        if beta_instance_service_list_custom_domains_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_instance_service_list_custom_domains_request'"
            )

        result = await self.list_custom_domains_with_http_info(
            beta_instance_service_list_custom_domains_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_custom_domains_with_http_info(
        self,
        beta_instance_service_list_custom_domains_request: BetaInstanceServiceListCustomDomainsRequest,
    ) -> "ApiResult[BetaInstanceServiceListCustomDomainsResponse]":
        """List Custom Domains (with HTTP info)
        Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Lists custom domains of the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `iam.read`
        :param beta_instance_service_list_custom_domains_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_instance_service_list_custom_domains_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_instance_service_list_custom_domains_request'"
            )

        path = "/zitadel.instance.v2beta.InstanceService/ListCustomDomains"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_instance_service_list_custom_domains_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaInstanceServiceListCustomDomainsResponse",
            None,
        )

    async def list_instances(
        self,
        beta_instance_service_list_instances_request: BetaInstanceServiceListInstancesRequest,
    ) -> BetaInstanceServiceListInstancesResponse:
        """List Instances
        Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Lists instances matching the given query.  The query can be used to filter either by instance ID or domain.  The request is paginated and returns 100 results by default.   Required permissions:   - `system.instance.read`
        :param beta_instance_service_list_instances_request:  (required)

        :return: BetaInstanceServiceListInstancesResponse
        :raises ApiException: if fails to make API call
        """
        if beta_instance_service_list_instances_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_instance_service_list_instances_request'"
            )

        result = await self.list_instances_with_http_info(
            beta_instance_service_list_instances_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_instances_with_http_info(
        self,
        beta_instance_service_list_instances_request: BetaInstanceServiceListInstancesRequest,
    ) -> "ApiResult[BetaInstanceServiceListInstancesResponse]":
        """List Instances (with HTTP info)
        Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Lists instances matching the given query.  The query can be used to filter either by instance ID or domain.  The request is paginated and returns 100 results by default.   Required permissions:   - `system.instance.read`
        :param beta_instance_service_list_instances_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_instance_service_list_instances_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_instance_service_list_instances_request'"
            )

        path = "/zitadel.instance.v2beta.InstanceService/ListInstances"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_instance_service_list_instances_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaInstanceServiceListInstancesResponse",
            None,
        )

    async def list_trusted_domains(
        self,
        beta_instance_service_list_trusted_domains_request: BetaInstanceServiceListTrustedDomainsRequest,
    ) -> BetaInstanceServiceListTrustedDomainsResponse:
        """List Trusted Domains
        Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Lists trusted domains of the instance.   The instance_id in the input message will be used in the future.   Required permissions:    - `iam.read`
        :param beta_instance_service_list_trusted_domains_request:  (required)

        :return: BetaInstanceServiceListTrustedDomainsResponse
        :raises ApiException: if fails to make API call
        """
        if beta_instance_service_list_trusted_domains_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_instance_service_list_trusted_domains_request'"
            )

        result = await self.list_trusted_domains_with_http_info(
            beta_instance_service_list_trusted_domains_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_trusted_domains_with_http_info(
        self,
        beta_instance_service_list_trusted_domains_request: BetaInstanceServiceListTrustedDomainsRequest,
    ) -> "ApiResult[BetaInstanceServiceListTrustedDomainsResponse]":
        """List Trusted Domains (with HTTP info)
        Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Lists trusted domains of the instance.   The instance_id in the input message will be used in the future.   Required permissions:    - `iam.read`
        :param beta_instance_service_list_trusted_domains_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_instance_service_list_trusted_domains_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_instance_service_list_trusted_domains_request'"
            )

        path = "/zitadel.instance.v2beta.InstanceService/ListTrustedDomains"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_instance_service_list_trusted_domains_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaInstanceServiceListTrustedDomainsResponse",
            None,
        )

    async def remove_custom_domain(
        self,
        beta_instance_service_remove_custom_domain_request: BetaInstanceServiceRemoveCustomDomainRequest,
    ) -> BetaInstanceServiceRemoveCustomDomainResponse:
        """Remove Custom Domain
        Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Removes a custom domain from the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `system.domain.write`
        :param beta_instance_service_remove_custom_domain_request:  (required)

        :return: BetaInstanceServiceRemoveCustomDomainResponse
        :raises ApiException: if fails to make API call
        """
        if beta_instance_service_remove_custom_domain_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_instance_service_remove_custom_domain_request'"
            )

        result = await self.remove_custom_domain_with_http_info(
            beta_instance_service_remove_custom_domain_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def remove_custom_domain_with_http_info(
        self,
        beta_instance_service_remove_custom_domain_request: BetaInstanceServiceRemoveCustomDomainRequest,
    ) -> "ApiResult[BetaInstanceServiceRemoveCustomDomainResponse]":
        """Remove Custom Domain (with HTTP info)
        Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Removes a custom domain from the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `system.domain.write`
        :param beta_instance_service_remove_custom_domain_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_instance_service_remove_custom_domain_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_instance_service_remove_custom_domain_request'"
            )

        path = "/zitadel.instance.v2beta.InstanceService/RemoveCustomDomain"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_instance_service_remove_custom_domain_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaInstanceServiceRemoveCustomDomainResponse",
            None,
        )

    async def remove_trusted_domain(
        self,
        beta_instance_service_remove_trusted_domain_request: BetaInstanceServiceRemoveTrustedDomainRequest,
    ) -> BetaInstanceServiceRemoveTrustedDomainResponse:
        """Remove Trusted Domain
        Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Removes a trusted domain from the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `iam.write`
        :param beta_instance_service_remove_trusted_domain_request:  (required)

        :return: BetaInstanceServiceRemoveTrustedDomainResponse
        :raises ApiException: if fails to make API call
        """
        if beta_instance_service_remove_trusted_domain_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_instance_service_remove_trusted_domain_request'"
            )

        result = await self.remove_trusted_domain_with_http_info(
            beta_instance_service_remove_trusted_domain_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def remove_trusted_domain_with_http_info(
        self,
        beta_instance_service_remove_trusted_domain_request: BetaInstanceServiceRemoveTrustedDomainRequest,
    ) -> "ApiResult[BetaInstanceServiceRemoveTrustedDomainResponse]":
        """Remove Trusted Domain (with HTTP info)
        Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Removes a trusted domain from the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `iam.write`
        :param beta_instance_service_remove_trusted_domain_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_instance_service_remove_trusted_domain_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_instance_service_remove_trusted_domain_request'"
            )

        path = "/zitadel.instance.v2beta.InstanceService/RemoveTrustedDomain"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_instance_service_remove_trusted_domain_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaInstanceServiceRemoveTrustedDomainResponse",
            None,
        )

    async def update_instance(
        self,
        beta_instance_service_update_instance_request: BetaInstanceServiceUpdateInstanceRequest,
    ) -> BetaInstanceServiceUpdateInstanceResponse:
        """Update Instance
        Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Updates instance in context with the given name.   The instance_id in the input message will be used in the future.   Required permissions:    - `iam.write`
        :param beta_instance_service_update_instance_request:  (required)

        :return: BetaInstanceServiceUpdateInstanceResponse
        :raises ApiException: if fails to make API call
        """
        if beta_instance_service_update_instance_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_instance_service_update_instance_request'"
            )

        result = await self.update_instance_with_http_info(
            beta_instance_service_update_instance_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def update_instance_with_http_info(
        self,
        beta_instance_service_update_instance_request: BetaInstanceServiceUpdateInstanceRequest,
    ) -> "ApiResult[BetaInstanceServiceUpdateInstanceResponse]":
        """Update Instance (with HTTP info)
        Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Updates instance in context with the given name.   The instance_id in the input message will be used in the future.   Required permissions:    - `iam.write`
        :param beta_instance_service_update_instance_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_instance_service_update_instance_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_instance_service_update_instance_request'"
            )

        path = "/zitadel.instance.v2beta.InstanceService/UpdateInstance"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_instance_service_update_instance_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaInstanceServiceUpdateInstanceResponse",
            None,
        )
