# ruff: noqa
# mypy: ignore-errors
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

from typing import Any, Dict, List, Optional
from pydantic import StrictBool, StrictFloat, StrictInt, StrictStr

from zitadel_client.models.beta_web_key_service_activate_web_key_request import (
    BetaWebKeyServiceActivateWebKeyRequest,
)
from zitadel_client.models.beta_web_key_service_activate_web_key_response import (
    BetaWebKeyServiceActivateWebKeyResponse,
)
from zitadel_client.models.beta_web_key_service_connect_error import (
    BetaWebKeyServiceConnectError,
)
from zitadel_client.models.beta_web_key_service_create_web_key_request import (
    BetaWebKeyServiceCreateWebKeyRequest,
)
from zitadel_client.models.beta_web_key_service_create_web_key_response import (
    BetaWebKeyServiceCreateWebKeyResponse,
)
from zitadel_client.models.beta_web_key_service_delete_web_key_request import (
    BetaWebKeyServiceDeleteWebKeyRequest,
)
from zitadel_client.models.beta_web_key_service_delete_web_key_response import (
    BetaWebKeyServiceDeleteWebKeyResponse,
)
from zitadel_client.models.beta_web_key_service_list_web_keys_response import (
    BetaWebKeyServiceListWebKeysResponse,
)

from ..api_client import ApiClient
from ..api_result import ApiResult
from ..configuration import Configuration
from .base_api import BaseApi
from ..value_serializer import ValueSerializer
from ..auth.authenticator import Authenticator
from ..errors import ApiException


class BetaWebKeyServiceApi(BaseApi):
    """BetaWebKeyServiceApi provides methods for the BetaWebKeyService API group."""

    def __init__(
        self,
        api_client: Optional[ApiClient] = None,
        config: Optional[Configuration] = None,
        authenticator: Optional[Authenticator] = None,
    ):
        super().__init__(api_client, config, authenticator)

    async def activate_web_key(
        self,
        beta_web_key_service_activate_web_key_request: BetaWebKeyServiceActivateWebKeyRequest,
    ) -> BetaWebKeyServiceActivateWebKeyResponse:
        """Activate Web Key
        Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Switch the active signing web key. The previously active key will be deactivated.  Note that the JWKs OIDC endpoint returns a cacheable response.  Therefore it is not advised to activate a key that has been created within the cache duration (default is 5min),  as the public key may not have been propagated to caches and clients yet.   Required permission:    - `iam.web_key.write`
        :param beta_web_key_service_activate_web_key_request:  (required)

        :return: BetaWebKeyServiceActivateWebKeyResponse
        :raises ApiException: if fails to make API call
        """
        if beta_web_key_service_activate_web_key_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_web_key_service_activate_web_key_request'"
            )

        result = await self.activate_web_key_with_http_info(
            beta_web_key_service_activate_web_key_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def activate_web_key_with_http_info(
        self,
        beta_web_key_service_activate_web_key_request: BetaWebKeyServiceActivateWebKeyRequest,
    ) -> "ApiResult[BetaWebKeyServiceActivateWebKeyResponse]":
        """Activate Web Key (with HTTP info)
        Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Switch the active signing web key. The previously active key will be deactivated.  Note that the JWKs OIDC endpoint returns a cacheable response.  Therefore it is not advised to activate a key that has been created within the cache duration (default is 5min),  as the public key may not have been propagated to caches and clients yet.   Required permission:    - `iam.web_key.write`
        :param beta_web_key_service_activate_web_key_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_web_key_service_activate_web_key_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_web_key_service_activate_web_key_request'"
            )

        path = "/zitadel.webkey.v2beta.WebKeyService/ActivateWebKey"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_web_key_service_activate_web_key_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaWebKeyServiceActivateWebKeyResponse",
            None,
        )

    async def create_web_key(
        self,
        beta_web_key_service_create_web_key_request: BetaWebKeyServiceCreateWebKeyRequest,
    ) -> BetaWebKeyServiceCreateWebKeyResponse:
        """Create Web Key
        Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Generate a private and public key pair. The private key can be used to sign OIDC tokens after activation.  The public key can be used to validate OIDC tokens.  The newly created key will have the state `STATE_INITIAL` and is published to the public key endpoint.  Note that the JWKs OIDC endpoint returns a cacheable response.   If no key type is provided, a RSA key pair with 2048 bits and SHA256 hashing will be created.   Required permission:    - `iam.web_key.write`
        :param beta_web_key_service_create_web_key_request:  (required)

        :return: BetaWebKeyServiceCreateWebKeyResponse
        :raises ApiException: if fails to make API call
        """
        if beta_web_key_service_create_web_key_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_web_key_service_create_web_key_request'"
            )

        result = await self.create_web_key_with_http_info(
            beta_web_key_service_create_web_key_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def create_web_key_with_http_info(
        self,
        beta_web_key_service_create_web_key_request: BetaWebKeyServiceCreateWebKeyRequest,
    ) -> "ApiResult[BetaWebKeyServiceCreateWebKeyResponse]":
        """Create Web Key (with HTTP info)
        Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Generate a private and public key pair. The private key can be used to sign OIDC tokens after activation.  The public key can be used to validate OIDC tokens.  The newly created key will have the state `STATE_INITIAL` and is published to the public key endpoint.  Note that the JWKs OIDC endpoint returns a cacheable response.   If no key type is provided, a RSA key pair with 2048 bits and SHA256 hashing will be created.   Required permission:    - `iam.web_key.write`
        :param beta_web_key_service_create_web_key_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_web_key_service_create_web_key_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_web_key_service_create_web_key_request'"
            )

        path = "/zitadel.webkey.v2beta.WebKeyService/CreateWebKey"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_web_key_service_create_web_key_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaWebKeyServiceCreateWebKeyResponse",
            None,
        )

    async def delete_web_key(
        self,
        beta_web_key_service_delete_web_key_request: BetaWebKeyServiceDeleteWebKeyRequest,
    ) -> BetaWebKeyServiceDeleteWebKeyResponse:
        """Delete Web Key
        Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete a web key pair. Only inactive keys can be deleted. Once a key is deleted,  any tokens signed by this key will be invalid.  Note that the JWKs OIDC endpoint returns a cacheable response.  In case the web key is not found, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the web key was deleted during the request.   Required permission:    - `iam.web_key.delete`
        :param beta_web_key_service_delete_web_key_request:  (required)

        :return: BetaWebKeyServiceDeleteWebKeyResponse
        :raises ApiException: if fails to make API call
        """
        if beta_web_key_service_delete_web_key_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_web_key_service_delete_web_key_request'"
            )

        result = await self.delete_web_key_with_http_info(
            beta_web_key_service_delete_web_key_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def delete_web_key_with_http_info(
        self,
        beta_web_key_service_delete_web_key_request: BetaWebKeyServiceDeleteWebKeyRequest,
    ) -> "ApiResult[BetaWebKeyServiceDeleteWebKeyResponse]":
        """Delete Web Key (with HTTP info)
        Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete a web key pair. Only inactive keys can be deleted. Once a key is deleted,  any tokens signed by this key will be invalid.  Note that the JWKs OIDC endpoint returns a cacheable response.  In case the web key is not found, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the web key was deleted during the request.   Required permission:    - `iam.web_key.delete`
        :param beta_web_key_service_delete_web_key_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_web_key_service_delete_web_key_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_web_key_service_delete_web_key_request'"
            )

        path = "/zitadel.webkey.v2beta.WebKeyService/DeleteWebKey"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_web_key_service_delete_web_key_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaWebKeyServiceDeleteWebKeyResponse",
            None,
        )

    async def list_web_keys(
        self,
        body: object,
    ) -> BetaWebKeyServiceListWebKeysResponse:
        """List Web Keys
        Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   List all web keys and their states.   Required permission:    - `iam.web_key.read`
        :param body:  (required)

        :return: BetaWebKeyServiceListWebKeysResponse
        :raises ApiException: if fails to make API call
        """
        if body is None:
            raise ValueError("Missing the required parameter 'body'")

        result = await self.list_web_keys_with_http_info(body)

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_web_keys_with_http_info(
        self,
        body: object,
    ) -> "ApiResult[BetaWebKeyServiceListWebKeysResponse]":
        """List Web Keys (with HTTP info)
        Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   List all web keys and their states.   Required permission:    - `iam.web_key.read`
        :param body:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if body is None:
            raise ValueError("Missing the required parameter 'body'")

        path = "/zitadel.webkey.v2beta.WebKeyService/ListWebKeys"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = body

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaWebKeyServiceListWebKeysResponse",
            None,
        )
