# ruff: noqa
# mypy: ignore-errors
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

from typing import Any, Dict, List, Optional
from pydantic import StrictBool, StrictFloat, StrictInt, StrictStr

from zitadel_client.models.beta_action_service_connect_error import (
    BetaActionServiceConnectError,
)
from zitadel_client.models.beta_action_service_create_target_request import (
    BetaActionServiceCreateTargetRequest,
)
from zitadel_client.models.beta_action_service_create_target_response import (
    BetaActionServiceCreateTargetResponse,
)
from zitadel_client.models.beta_action_service_delete_target_request import (
    BetaActionServiceDeleteTargetRequest,
)
from zitadel_client.models.beta_action_service_delete_target_response import (
    BetaActionServiceDeleteTargetResponse,
)
from zitadel_client.models.beta_action_service_get_target_request import (
    BetaActionServiceGetTargetRequest,
)
from zitadel_client.models.beta_action_service_get_target_response import (
    BetaActionServiceGetTargetResponse,
)
from zitadel_client.models.beta_action_service_list_execution_functions_response import (
    BetaActionServiceListExecutionFunctionsResponse,
)
from zitadel_client.models.beta_action_service_list_execution_methods_response import (
    BetaActionServiceListExecutionMethodsResponse,
)
from zitadel_client.models.beta_action_service_list_execution_services_response import (
    BetaActionServiceListExecutionServicesResponse,
)
from zitadel_client.models.beta_action_service_list_executions_request import (
    BetaActionServiceListExecutionsRequest,
)
from zitadel_client.models.beta_action_service_list_executions_response import (
    BetaActionServiceListExecutionsResponse,
)
from zitadel_client.models.beta_action_service_list_targets_request import (
    BetaActionServiceListTargetsRequest,
)
from zitadel_client.models.beta_action_service_list_targets_response import (
    BetaActionServiceListTargetsResponse,
)
from zitadel_client.models.beta_action_service_set_execution_request import (
    BetaActionServiceSetExecutionRequest,
)
from zitadel_client.models.beta_action_service_set_execution_response import (
    BetaActionServiceSetExecutionResponse,
)
from zitadel_client.models.beta_action_service_update_target_request import (
    BetaActionServiceUpdateTargetRequest,
)
from zitadel_client.models.beta_action_service_update_target_response import (
    BetaActionServiceUpdateTargetResponse,
)

from ..api_client import ApiClient
from ..api_result import ApiResult
from ..configuration import Configuration
from .base_api import BaseApi
from ..value_serializer import ValueSerializer
from ..auth.authenticator import Authenticator
from ..errors import ApiException


class BetaActionServiceApi(BaseApi):
    """BetaActionServiceApi provides methods for the BetaActionService API group."""

    def __init__(
        self,
        api_client: Optional[ApiClient] = None,
        config: Optional[Configuration] = None,
        authenticator: Optional[Authenticator] = None,
    ):
        super().__init__(api_client, config, authenticator)

    async def create_target(
        self,
        beta_action_service_create_target_request: BetaActionServiceCreateTargetRequest,
    ) -> BetaActionServiceCreateTargetResponse:
        """Create Target
        Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Create a new target to your endpoint, which can be used in executions.   Required permission:    - `action.target.write`
        :param beta_action_service_create_target_request:  (required)

        :return: BetaActionServiceCreateTargetResponse
        :raises ApiException: if fails to make API call
        """
        if beta_action_service_create_target_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_action_service_create_target_request'"
            )

        result = await self.create_target_with_http_info(
            beta_action_service_create_target_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def create_target_with_http_info(
        self,
        beta_action_service_create_target_request: BetaActionServiceCreateTargetRequest,
    ) -> "ApiResult[BetaActionServiceCreateTargetResponse]":
        """Create Target (with HTTP info)
        Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Create a new target to your endpoint, which can be used in executions.   Required permission:    - `action.target.write`
        :param beta_action_service_create_target_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_action_service_create_target_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_action_service_create_target_request'"
            )

        path = "/zitadel.action.v2beta.ActionService/CreateTarget"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_action_service_create_target_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaActionServiceCreateTargetResponse",
            None,
        )

    async def delete_target(
        self,
        beta_action_service_delete_target_request: BetaActionServiceDeleteTargetRequest,
    ) -> BetaActionServiceDeleteTargetResponse:
        """Delete Target
        Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete an existing target. This will remove it from any configured execution as well.  In case the target is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `action.target.delete`
        :param beta_action_service_delete_target_request:  (required)

        :return: BetaActionServiceDeleteTargetResponse
        :raises ApiException: if fails to make API call
        """
        if beta_action_service_delete_target_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_action_service_delete_target_request'"
            )

        result = await self.delete_target_with_http_info(
            beta_action_service_delete_target_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def delete_target_with_http_info(
        self,
        beta_action_service_delete_target_request: BetaActionServiceDeleteTargetRequest,
    ) -> "ApiResult[BetaActionServiceDeleteTargetResponse]":
        """Delete Target (with HTTP info)
        Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete an existing target. This will remove it from any configured execution as well.  In case the target is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `action.target.delete`
        :param beta_action_service_delete_target_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_action_service_delete_target_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_action_service_delete_target_request'"
            )

        path = "/zitadel.action.v2beta.ActionService/DeleteTarget"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_action_service_delete_target_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaActionServiceDeleteTargetResponse",
            None,
        )

    async def get_target(
        self,
        beta_action_service_get_target_request: BetaActionServiceGetTargetRequest,
    ) -> BetaActionServiceGetTargetResponse:
        """Get Target
        Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns the target identified by the requested ID.   Required permission:    - `action.target.read`
        :param beta_action_service_get_target_request:  (required)

        :return: BetaActionServiceGetTargetResponse
        :raises ApiException: if fails to make API call
        """
        if beta_action_service_get_target_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_action_service_get_target_request'"
            )

        result = await self.get_target_with_http_info(
            beta_action_service_get_target_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def get_target_with_http_info(
        self,
        beta_action_service_get_target_request: BetaActionServiceGetTargetRequest,
    ) -> "ApiResult[BetaActionServiceGetTargetResponse]":
        """Get Target (with HTTP info)
        Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns the target identified by the requested ID.   Required permission:    - `action.target.read`
        :param beta_action_service_get_target_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_action_service_get_target_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_action_service_get_target_request'"
            )

        path = "/zitadel.action.v2beta.ActionService/GetTarget"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_action_service_get_target_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaActionServiceGetTargetResponse",
            None,
        )

    async def list_execution_functions(
        self,
        body: object,
    ) -> BetaActionServiceListExecutionFunctionsResponse:
        """List Execution Functions
        Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all available functions which can be used as condition for executions.
        :param body:  (required)

        :return: BetaActionServiceListExecutionFunctionsResponse
        :raises ApiException: if fails to make API call
        """
        if body is None:
            raise ValueError("Missing the required parameter 'body'")

        result = await self.list_execution_functions_with_http_info(body)

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_execution_functions_with_http_info(
        self,
        body: object,
    ) -> "ApiResult[BetaActionServiceListExecutionFunctionsResponse]":
        """List Execution Functions (with HTTP info)
        Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all available functions which can be used as condition for executions.
        :param body:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if body is None:
            raise ValueError("Missing the required parameter 'body'")

        path = "/zitadel.action.v2beta.ActionService/ListExecutionFunctions"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = body

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaActionServiceListExecutionFunctionsResponse",
            None,
        )

    async def list_execution_methods(
        self,
        body: object,
    ) -> BetaActionServiceListExecutionMethodsResponse:
        """List Execution Methods
        Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all available methods which can be used as condition for executions.
        :param body:  (required)

        :return: BetaActionServiceListExecutionMethodsResponse
        :raises ApiException: if fails to make API call
        """
        if body is None:
            raise ValueError("Missing the required parameter 'body'")

        result = await self.list_execution_methods_with_http_info(body)

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_execution_methods_with_http_info(
        self,
        body: object,
    ) -> "ApiResult[BetaActionServiceListExecutionMethodsResponse]":
        """List Execution Methods (with HTTP info)
        Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all available methods which can be used as condition for executions.
        :param body:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if body is None:
            raise ValueError("Missing the required parameter 'body'")

        path = "/zitadel.action.v2beta.ActionService/ListExecutionMethods"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = body

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaActionServiceListExecutionMethodsResponse",
            None,
        )

    async def list_execution_services(
        self,
        body: object,
    ) -> BetaActionServiceListExecutionServicesResponse:
        """List Execution Services
        Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all available services which can be used as condition for executions.
        :param body:  (required)

        :return: BetaActionServiceListExecutionServicesResponse
        :raises ApiException: if fails to make API call
        """
        if body is None:
            raise ValueError("Missing the required parameter 'body'")

        result = await self.list_execution_services_with_http_info(body)

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_execution_services_with_http_info(
        self,
        body: object,
    ) -> "ApiResult[BetaActionServiceListExecutionServicesResponse]":
        """List Execution Services (with HTTP info)
        Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all available services which can be used as condition for executions.
        :param body:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if body is None:
            raise ValueError("Missing the required parameter 'body'")

        path = "/zitadel.action.v2beta.ActionService/ListExecutionServices"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = body

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaActionServiceListExecutionServicesResponse",
            None,
        )

    async def list_executions(
        self,
        beta_action_service_list_executions_request: BetaActionServiceListExecutionsRequest,
    ) -> BetaActionServiceListExecutionsResponse:
        """List Executions
        Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all matching executions. By default all executions of the instance are returned that have at least one execution target.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.execution.read`
        :param beta_action_service_list_executions_request:  (required)

        :return: BetaActionServiceListExecutionsResponse
        :raises ApiException: if fails to make API call
        """
        if beta_action_service_list_executions_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_action_service_list_executions_request'"
            )

        result = await self.list_executions_with_http_info(
            beta_action_service_list_executions_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_executions_with_http_info(
        self,
        beta_action_service_list_executions_request: BetaActionServiceListExecutionsRequest,
    ) -> "ApiResult[BetaActionServiceListExecutionsResponse]":
        """List Executions (with HTTP info)
        Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all matching executions. By default all executions of the instance are returned that have at least one execution target.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.execution.read`
        :param beta_action_service_list_executions_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_action_service_list_executions_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_action_service_list_executions_request'"
            )

        path = "/zitadel.action.v2beta.ActionService/ListExecutions"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_action_service_list_executions_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaActionServiceListExecutionsResponse",
            None,
        )

    async def list_targets(
        self,
        beta_action_service_list_targets_request: BetaActionServiceListTargetsRequest,
    ) -> BetaActionServiceListTargetsResponse:
        """List targets
        Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all matching targets. By default all targets of the instance are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.target.read`
        :param beta_action_service_list_targets_request:  (required)

        :return: BetaActionServiceListTargetsResponse
        :raises ApiException: if fails to make API call
        """
        if beta_action_service_list_targets_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_action_service_list_targets_request'"
            )

        result = await self.list_targets_with_http_info(
            beta_action_service_list_targets_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_targets_with_http_info(
        self,
        beta_action_service_list_targets_request: BetaActionServiceListTargetsRequest,
    ) -> "ApiResult[BetaActionServiceListTargetsResponse]":
        """List targets (with HTTP info)
        Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all matching targets. By default all targets of the instance are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.target.read`
        :param beta_action_service_list_targets_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_action_service_list_targets_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_action_service_list_targets_request'"
            )

        path = "/zitadel.action.v2beta.ActionService/ListTargets"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_action_service_list_targets_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaActionServiceListTargetsResponse",
            None,
        )

    async def set_execution(
        self,
        beta_action_service_set_execution_request: BetaActionServiceSetExecutionRequest,
    ) -> BetaActionServiceSetExecutionResponse:
        """Set Execution
        Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Sets an execution to call a target or include the targets of another execution.  Setting an empty list of targets will remove all targets from the execution, making it a noop.   Required permission:    - `action.execution.write`
        :param beta_action_service_set_execution_request:  (required)

        :return: BetaActionServiceSetExecutionResponse
        :raises ApiException: if fails to make API call
        """
        if beta_action_service_set_execution_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_action_service_set_execution_request'"
            )

        result = await self.set_execution_with_http_info(
            beta_action_service_set_execution_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def set_execution_with_http_info(
        self,
        beta_action_service_set_execution_request: BetaActionServiceSetExecutionRequest,
    ) -> "ApiResult[BetaActionServiceSetExecutionResponse]":
        """Set Execution (with HTTP info)
        Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Sets an execution to call a target or include the targets of another execution.  Setting an empty list of targets will remove all targets from the execution, making it a noop.   Required permission:    - `action.execution.write`
        :param beta_action_service_set_execution_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_action_service_set_execution_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_action_service_set_execution_request'"
            )

        path = "/zitadel.action.v2beta.ActionService/SetExecution"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_action_service_set_execution_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaActionServiceSetExecutionResponse",
            None,
        )

    async def update_target(
        self,
        beta_action_service_update_target_request: BetaActionServiceUpdateTargetRequest,
    ) -> BetaActionServiceUpdateTargetResponse:
        """Update Target
        Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Update an existing target.  To generate a new signing key set the optional expirationSigningKey.   Required permission:    - `action.target.write`
        :param beta_action_service_update_target_request:  (required)

        :return: BetaActionServiceUpdateTargetResponse
        :raises ApiException: if fails to make API call
        """
        if beta_action_service_update_target_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_action_service_update_target_request'"
            )

        result = await self.update_target_with_http_info(
            beta_action_service_update_target_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def update_target_with_http_info(
        self,
        beta_action_service_update_target_request: BetaActionServiceUpdateTargetRequest,
    ) -> "ApiResult[BetaActionServiceUpdateTargetResponse]":
        """Update Target (with HTTP info)
        Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Update an existing target.  To generate a new signing key set the optional expirationSigningKey.   Required permission:    - `action.target.write`
        :param beta_action_service_update_target_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_action_service_update_target_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_action_service_update_target_request'"
            )

        path = "/zitadel.action.v2beta.ActionService/UpdateTarget"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_action_service_update_target_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaActionServiceUpdateTargetResponse",
            None,
        )
