# ruff: noqa
# mypy: ignore-errors
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

from typing import Any, Dict, List, Optional
from pydantic import StrictBool, StrictFloat, StrictInt, StrictStr

from zitadel_client.models.beta_authorization_service_activate_authorization_request import (
    BetaAuthorizationServiceActivateAuthorizationRequest,
)
from zitadel_client.models.beta_authorization_service_activate_authorization_response import (
    BetaAuthorizationServiceActivateAuthorizationResponse,
)
from zitadel_client.models.beta_authorization_service_connect_error import (
    BetaAuthorizationServiceConnectError,
)
from zitadel_client.models.beta_authorization_service_create_authorization_request import (
    BetaAuthorizationServiceCreateAuthorizationRequest,
)
from zitadel_client.models.beta_authorization_service_create_authorization_response import (
    BetaAuthorizationServiceCreateAuthorizationResponse,
)
from zitadel_client.models.beta_authorization_service_deactivate_authorization_request import (
    BetaAuthorizationServiceDeactivateAuthorizationRequest,
)
from zitadel_client.models.beta_authorization_service_deactivate_authorization_response import (
    BetaAuthorizationServiceDeactivateAuthorizationResponse,
)
from zitadel_client.models.beta_authorization_service_delete_authorization_request import (
    BetaAuthorizationServiceDeleteAuthorizationRequest,
)
from zitadel_client.models.beta_authorization_service_delete_authorization_response import (
    BetaAuthorizationServiceDeleteAuthorizationResponse,
)
from zitadel_client.models.beta_authorization_service_list_authorizations_request import (
    BetaAuthorizationServiceListAuthorizationsRequest,
)
from zitadel_client.models.beta_authorization_service_list_authorizations_response import (
    BetaAuthorizationServiceListAuthorizationsResponse,
)
from zitadel_client.models.beta_authorization_service_update_authorization_request import (
    BetaAuthorizationServiceUpdateAuthorizationRequest,
)
from zitadel_client.models.beta_authorization_service_update_authorization_response import (
    BetaAuthorizationServiceUpdateAuthorizationResponse,
)

from ..api_client import ApiClient
from ..api_result import ApiResult
from ..configuration import Configuration
from .base_api import BaseApi
from ..value_serializer import ValueSerializer
from ..auth.authenticator import Authenticator
from ..errors import ApiException


class BetaAuthorizationServiceApi(BaseApi):
    """BetaAuthorizationServiceApi provides methods for the BetaAuthorizationService API group."""

    def __init__(
        self,
        api_client: Optional[ApiClient] = None,
        config: Optional[Configuration] = None,
        authenticator: Optional[Authenticator] = None,
    ):
        super().__init__(api_client, config, authenticator)

    async def activate_authorization(
        self,
        beta_authorization_service_activate_authorization_request: BetaAuthorizationServiceActivateAuthorizationRequest,
    ) -> BetaAuthorizationServiceActivateAuthorizationResponse:
        """Activate Authorization
        Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   ActivateAuthorization activates an existing but inactive authorization.   In case the authorization is already active, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was activated by the request.   Required permissions:    - \"user.grant.write\"
        :param beta_authorization_service_activate_authorization_request:  (required)

        :return: BetaAuthorizationServiceActivateAuthorizationResponse
        :raises ApiException: if fails to make API call
        """
        if beta_authorization_service_activate_authorization_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_authorization_service_activate_authorization_request'"
            )

        result = await self.activate_authorization_with_http_info(
            beta_authorization_service_activate_authorization_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def activate_authorization_with_http_info(
        self,
        beta_authorization_service_activate_authorization_request: BetaAuthorizationServiceActivateAuthorizationRequest,
    ) -> "ApiResult[BetaAuthorizationServiceActivateAuthorizationResponse]":
        """Activate Authorization (with HTTP info)
        Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   ActivateAuthorization activates an existing but inactive authorization.   In case the authorization is already active, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was activated by the request.   Required permissions:    - \"user.grant.write\"
        :param beta_authorization_service_activate_authorization_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_authorization_service_activate_authorization_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_authorization_service_activate_authorization_request'"
            )

        path = (
            "/zitadel.authorization.v2beta.AuthorizationService/ActivateAuthorization"
        )
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_authorization_service_activate_authorization_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaAuthorizationServiceActivateAuthorizationResponse",
            None,
        )

    async def create_authorization(
        self,
        beta_authorization_service_create_authorization_request: BetaAuthorizationServiceCreateAuthorizationRequest,
    ) -> BetaAuthorizationServiceCreateAuthorizationResponse:
        """Create Authorization
        Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   CreateAuthorization creates a new authorization for a user in an owned or granted project.   Required permissions:    - \"user.grant.write\"
        :param beta_authorization_service_create_authorization_request:  (required)

        :return: BetaAuthorizationServiceCreateAuthorizationResponse
        :raises ApiException: if fails to make API call
        """
        if beta_authorization_service_create_authorization_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_authorization_service_create_authorization_request'"
            )

        result = await self.create_authorization_with_http_info(
            beta_authorization_service_create_authorization_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def create_authorization_with_http_info(
        self,
        beta_authorization_service_create_authorization_request: BetaAuthorizationServiceCreateAuthorizationRequest,
    ) -> "ApiResult[BetaAuthorizationServiceCreateAuthorizationResponse]":
        """Create Authorization (with HTTP info)
        Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   CreateAuthorization creates a new authorization for a user in an owned or granted project.   Required permissions:    - \"user.grant.write\"
        :param beta_authorization_service_create_authorization_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_authorization_service_create_authorization_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_authorization_service_create_authorization_request'"
            )

        path = "/zitadel.authorization.v2beta.AuthorizationService/CreateAuthorization"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_authorization_service_create_authorization_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaAuthorizationServiceCreateAuthorizationResponse",
            None,
        )

    async def deactivate_authorization(
        self,
        beta_authorization_service_deactivate_authorization_request: BetaAuthorizationServiceDeactivateAuthorizationRequest,
    ) -> BetaAuthorizationServiceDeactivateAuthorizationResponse:
        """Deactivate Authorization
        Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   DeactivateAuthorization deactivates an existing and active authorization.   In case the authorization is already inactive, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was deactivated by the request.   Required permissions:    - \"user.grant.write\"
        :param beta_authorization_service_deactivate_authorization_request:  (required)

        :return: BetaAuthorizationServiceDeactivateAuthorizationResponse
        :raises ApiException: if fails to make API call
        """
        if beta_authorization_service_deactivate_authorization_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_authorization_service_deactivate_authorization_request'"
            )

        result = await self.deactivate_authorization_with_http_info(
            beta_authorization_service_deactivate_authorization_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def deactivate_authorization_with_http_info(
        self,
        beta_authorization_service_deactivate_authorization_request: BetaAuthorizationServiceDeactivateAuthorizationRequest,
    ) -> "ApiResult[BetaAuthorizationServiceDeactivateAuthorizationResponse]":
        """Deactivate Authorization (with HTTP info)
        Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   DeactivateAuthorization deactivates an existing and active authorization.   In case the authorization is already inactive, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was deactivated by the request.   Required permissions:    - \"user.grant.write\"
        :param beta_authorization_service_deactivate_authorization_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_authorization_service_deactivate_authorization_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_authorization_service_deactivate_authorization_request'"
            )

        path = (
            "/zitadel.authorization.v2beta.AuthorizationService/DeactivateAuthorization"
        )
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_authorization_service_deactivate_authorization_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaAuthorizationServiceDeactivateAuthorizationResponse",
            None,
        )

    async def delete_authorization(
        self,
        beta_authorization_service_delete_authorization_request: BetaAuthorizationServiceDeleteAuthorizationRequest,
    ) -> BetaAuthorizationServiceDeleteAuthorizationResponse:
        """Delete Authorization
        Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   DeleteAuthorization deletes the authorization.   In case the authorization is not found, the request will return a successful response as  the desired state is already achieved.  You can check the deletion date in the response to verify if the authorization was deleted by the request.   Required permissions:    - \"user.grant.delete\"
        :param beta_authorization_service_delete_authorization_request:  (required)

        :return: BetaAuthorizationServiceDeleteAuthorizationResponse
        :raises ApiException: if fails to make API call
        """
        if beta_authorization_service_delete_authorization_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_authorization_service_delete_authorization_request'"
            )

        result = await self.delete_authorization_with_http_info(
            beta_authorization_service_delete_authorization_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def delete_authorization_with_http_info(
        self,
        beta_authorization_service_delete_authorization_request: BetaAuthorizationServiceDeleteAuthorizationRequest,
    ) -> "ApiResult[BetaAuthorizationServiceDeleteAuthorizationResponse]":
        """Delete Authorization (with HTTP info)
        Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   DeleteAuthorization deletes the authorization.   In case the authorization is not found, the request will return a successful response as  the desired state is already achieved.  You can check the deletion date in the response to verify if the authorization was deleted by the request.   Required permissions:    - \"user.grant.delete\"
        :param beta_authorization_service_delete_authorization_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_authorization_service_delete_authorization_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_authorization_service_delete_authorization_request'"
            )

        path = "/zitadel.authorization.v2beta.AuthorizationService/DeleteAuthorization"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_authorization_service_delete_authorization_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaAuthorizationServiceDeleteAuthorizationResponse",
            None,
        )

    async def list_authorizations(
        self,
        beta_authorization_service_list_authorizations_request: BetaAuthorizationServiceListAuthorizationsRequest,
    ) -> BetaAuthorizationServiceListAuthorizationsResponse:
        """List Authorizations
        Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   ListAuthorizations returns all authorizations matching the request and necessary permissions.   Required permissions:    - \"user.grant.read\"    - no permissions required for listing own authorizations
        :param beta_authorization_service_list_authorizations_request:  (required)

        :return: BetaAuthorizationServiceListAuthorizationsResponse
        :raises ApiException: if fails to make API call
        """
        if beta_authorization_service_list_authorizations_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_authorization_service_list_authorizations_request'"
            )

        result = await self.list_authorizations_with_http_info(
            beta_authorization_service_list_authorizations_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_authorizations_with_http_info(
        self,
        beta_authorization_service_list_authorizations_request: BetaAuthorizationServiceListAuthorizationsRequest,
    ) -> "ApiResult[BetaAuthorizationServiceListAuthorizationsResponse]":
        """List Authorizations (with HTTP info)
        Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   ListAuthorizations returns all authorizations matching the request and necessary permissions.   Required permissions:    - \"user.grant.read\"    - no permissions required for listing own authorizations
        :param beta_authorization_service_list_authorizations_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_authorization_service_list_authorizations_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_authorization_service_list_authorizations_request'"
            )

        path = "/zitadel.authorization.v2beta.AuthorizationService/ListAuthorizations"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_authorization_service_list_authorizations_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaAuthorizationServiceListAuthorizationsResponse",
            None,
        )

    async def update_authorization(
        self,
        beta_authorization_service_update_authorization_request: BetaAuthorizationServiceUpdateAuthorizationRequest,
    ) -> BetaAuthorizationServiceUpdateAuthorizationResponse:
        """Update Authorization
        Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   UpdateAuthorization updates the authorization.   Note that any role keys previously granted to the user and not present in the request will be revoked.   Required permissions:    - \"user.grant.write\"
        :param beta_authorization_service_update_authorization_request:  (required)

        :return: BetaAuthorizationServiceUpdateAuthorizationResponse
        :raises ApiException: if fails to make API call
        """
        if beta_authorization_service_update_authorization_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_authorization_service_update_authorization_request'"
            )

        result = await self.update_authorization_with_http_info(
            beta_authorization_service_update_authorization_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def update_authorization_with_http_info(
        self,
        beta_authorization_service_update_authorization_request: BetaAuthorizationServiceUpdateAuthorizationRequest,
    ) -> "ApiResult[BetaAuthorizationServiceUpdateAuthorizationResponse]":
        """Update Authorization (with HTTP info)
        Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   UpdateAuthorization updates the authorization.   Note that any role keys previously granted to the user and not present in the request will be revoked.   Required permissions:    - \"user.grant.write\"
        :param beta_authorization_service_update_authorization_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_authorization_service_update_authorization_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_authorization_service_update_authorization_request'"
            )

        path = "/zitadel.authorization.v2beta.AuthorizationService/UpdateAuthorization"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_authorization_service_update_authorization_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaAuthorizationServiceUpdateAuthorizationResponse",
            None,
        )
