# ruff: noqa
# mypy: ignore-errors
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

from typing import Any, Dict, List, Optional
from pydantic import StrictBool, StrictFloat, StrictInt, StrictStr

from zitadel_client.models.beta_telemetry_service_connect_error import (
    BetaTelemetryServiceConnectError,
)
from zitadel_client.models.beta_telemetry_service_report_base_information_request import (
    BetaTelemetryServiceReportBaseInformationRequest,
)
from zitadel_client.models.beta_telemetry_service_report_base_information_response import (
    BetaTelemetryServiceReportBaseInformationResponse,
)
from zitadel_client.models.beta_telemetry_service_report_resource_counts_request import (
    BetaTelemetryServiceReportResourceCountsRequest,
)
from zitadel_client.models.beta_telemetry_service_report_resource_counts_response import (
    BetaTelemetryServiceReportResourceCountsResponse,
)

from ..api_client import ApiClient
from ..api_result import ApiResult
from ..configuration import Configuration
from .base_api import BaseApi
from ..value_serializer import ValueSerializer
from ..auth.authenticator import Authenticator
from ..errors import ApiException


class BetaTelemetryServiceApi(BaseApi):
    """BetaTelemetryServiceApi provides methods for the BetaTelemetryService API group."""

    def __init__(
        self,
        api_client: Optional[ApiClient] = None,
        config: Optional[Configuration] = None,
        authenticator: Optional[Authenticator] = None,
    ):
        super().__init__(api_client, config, authenticator)

    async def report_base_information(
        self,
        beta_telemetry_service_report_base_information_request: BetaTelemetryServiceReportBaseInformationRequest,
    ) -> BetaTelemetryServiceReportBaseInformationResponse:
        """ReportBaseInformation is used to report the base information of the ZITADEL system,  including the version, instances, their creation date and domains.  The response contains a report ID to link it to the resource counts or other reports.  The report ID is only valid for the same system ID.
        ReportBaseInformation is used to report the base information of the ZITADEL system,  including the version, instances, their creation date and domains.  The response contains a report ID to link it to the resource counts or other reports.  The report ID is only valid for the same system ID.
        :param beta_telemetry_service_report_base_information_request:  (required)

        :return: BetaTelemetryServiceReportBaseInformationResponse
        :raises ApiException: if fails to make API call
        """
        if beta_telemetry_service_report_base_information_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_telemetry_service_report_base_information_request'"
            )

        result = await self.report_base_information_with_http_info(
            beta_telemetry_service_report_base_information_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def report_base_information_with_http_info(
        self,
        beta_telemetry_service_report_base_information_request: BetaTelemetryServiceReportBaseInformationRequest,
    ) -> "ApiResult[BetaTelemetryServiceReportBaseInformationResponse]":
        """ReportBaseInformation is used to report the base information of the ZITADEL system,  including the version, instances, their creation date and domains.  The response contains a report ID to link it to the resource counts or other reports.  The report ID is only valid for the same system ID. (with HTTP info)
        ReportBaseInformation is used to report the base information of the ZITADEL system,  including the version, instances, their creation date and domains.  The response contains a report ID to link it to the resource counts or other reports.  The report ID is only valid for the same system ID.
        :param beta_telemetry_service_report_base_information_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_telemetry_service_report_base_information_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_telemetry_service_report_base_information_request'"
            )

        path = "/zitadel.analytics.v2beta.TelemetryService/ReportBaseInformation"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_telemetry_service_report_base_information_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaTelemetryServiceReportBaseInformationResponse",
            None,
        )

    async def report_resource_counts(
        self,
        beta_telemetry_service_report_resource_counts_request: BetaTelemetryServiceReportResourceCountsRequest,
    ) -> BetaTelemetryServiceReportResourceCountsResponse:
        """ReportResourceCounts is used to report the resource counts such as amount of organizations  or users per organization and much more.  Since the resource counts can be reported in multiple batches,  the response contains a report ID to continue reporting.  The report ID is only valid for the same system ID.
        ReportResourceCounts is used to report the resource counts such as amount of organizations  or users per organization and much more.  Since the resource counts can be reported in multiple batches,  the response contains a report ID to continue reporting.  The report ID is only valid for the same system ID.
        :param beta_telemetry_service_report_resource_counts_request:  (required)

        :return: BetaTelemetryServiceReportResourceCountsResponse
        :raises ApiException: if fails to make API call
        """
        if beta_telemetry_service_report_resource_counts_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_telemetry_service_report_resource_counts_request'"
            )

        result = await self.report_resource_counts_with_http_info(
            beta_telemetry_service_report_resource_counts_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def report_resource_counts_with_http_info(
        self,
        beta_telemetry_service_report_resource_counts_request: BetaTelemetryServiceReportResourceCountsRequest,
    ) -> "ApiResult[BetaTelemetryServiceReportResourceCountsResponse]":
        """ReportResourceCounts is used to report the resource counts such as amount of organizations  or users per organization and much more.  Since the resource counts can be reported in multiple batches,  the response contains a report ID to continue reporting.  The report ID is only valid for the same system ID. (with HTTP info)
        ReportResourceCounts is used to report the resource counts such as amount of organizations  or users per organization and much more.  Since the resource counts can be reported in multiple batches,  the response contains a report ID to continue reporting.  The report ID is only valid for the same system ID.
        :param beta_telemetry_service_report_resource_counts_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_telemetry_service_report_resource_counts_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_telemetry_service_report_resource_counts_request'"
            )

        path = "/zitadel.analytics.v2beta.TelemetryService/ReportResourceCounts"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_telemetry_service_report_resource_counts_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaTelemetryServiceReportResourceCountsResponse",
            None,
        )
