# ruff: noqa
# mypy: ignore-errors
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

from typing import Any, Dict, List, Optional
from pydantic import StrictBool, StrictFloat, StrictInt, StrictStr

from zitadel_client.models.beta_app_service_connect_error import (
    BetaAppServiceConnectError,
)
from zitadel_client.models.beta_app_service_create_application_key_request import (
    BetaAppServiceCreateApplicationKeyRequest,
)
from zitadel_client.models.beta_app_service_create_application_key_response import (
    BetaAppServiceCreateApplicationKeyResponse,
)
from zitadel_client.models.beta_app_service_create_application_request import (
    BetaAppServiceCreateApplicationRequest,
)
from zitadel_client.models.beta_app_service_create_application_response import (
    BetaAppServiceCreateApplicationResponse,
)
from zitadel_client.models.beta_app_service_deactivate_application_request import (
    BetaAppServiceDeactivateApplicationRequest,
)
from zitadel_client.models.beta_app_service_deactivate_application_response import (
    BetaAppServiceDeactivateApplicationResponse,
)
from zitadel_client.models.beta_app_service_delete_application_key_request import (
    BetaAppServiceDeleteApplicationKeyRequest,
)
from zitadel_client.models.beta_app_service_delete_application_key_response import (
    BetaAppServiceDeleteApplicationKeyResponse,
)
from zitadel_client.models.beta_app_service_delete_application_request import (
    BetaAppServiceDeleteApplicationRequest,
)
from zitadel_client.models.beta_app_service_delete_application_response import (
    BetaAppServiceDeleteApplicationResponse,
)
from zitadel_client.models.beta_app_service_get_application_key_request import (
    BetaAppServiceGetApplicationKeyRequest,
)
from zitadel_client.models.beta_app_service_get_application_key_response import (
    BetaAppServiceGetApplicationKeyResponse,
)
from zitadel_client.models.beta_app_service_get_application_request import (
    BetaAppServiceGetApplicationRequest,
)
from zitadel_client.models.beta_app_service_get_application_response import (
    BetaAppServiceGetApplicationResponse,
)
from zitadel_client.models.beta_app_service_list_application_keys_request import (
    BetaAppServiceListApplicationKeysRequest,
)
from zitadel_client.models.beta_app_service_list_application_keys_response import (
    BetaAppServiceListApplicationKeysResponse,
)
from zitadel_client.models.beta_app_service_list_applications_request import (
    BetaAppServiceListApplicationsRequest,
)
from zitadel_client.models.beta_app_service_list_applications_response import (
    BetaAppServiceListApplicationsResponse,
)
from zitadel_client.models.beta_app_service_reactivate_application_request import (
    BetaAppServiceReactivateApplicationRequest,
)
from zitadel_client.models.beta_app_service_reactivate_application_response import (
    BetaAppServiceReactivateApplicationResponse,
)
from zitadel_client.models.beta_app_service_regenerate_client_secret_request import (
    BetaAppServiceRegenerateClientSecretRequest,
)
from zitadel_client.models.beta_app_service_regenerate_client_secret_response import (
    BetaAppServiceRegenerateClientSecretResponse,
)
from zitadel_client.models.beta_app_service_update_application_request import (
    BetaAppServiceUpdateApplicationRequest,
)
from zitadel_client.models.beta_app_service_update_application_response import (
    BetaAppServiceUpdateApplicationResponse,
)

from ..api_client import ApiClient
from ..api_result import ApiResult
from ..configuration import Configuration
from .base_api import BaseApi
from ..value_serializer import ValueSerializer
from ..auth.authenticator import Authenticator
from ..errors import ApiException


class BetaAppServiceApi(BaseApi):
    """BetaAppServiceApi provides methods for the BetaAppService API group."""

    def __init__(
        self,
        api_client: Optional[ApiClient] = None,
        config: Optional[Configuration] = None,
        authenticator: Optional[Authenticator] = None,
    ):
        super().__init__(api_client, config, authenticator)

    async def create_application(
        self,
        beta_app_service_create_application_request: BetaAppServiceCreateApplicationRequest,
    ) -> BetaAppServiceCreateApplicationResponse:
        """Create Application
        Deprecated: use [application service v2 CreateApplication](apis/resources/application_service_v2/application-service-create-application.api.mdx) instead.   Create an application. The application can be OIDC, API or SAML type, based on the input.   Required permissions:    - project.app.write
        :param beta_app_service_create_application_request:  (required)

        :return: BetaAppServiceCreateApplicationResponse
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_create_application_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_create_application_request'"
            )

        result = await self.create_application_with_http_info(
            beta_app_service_create_application_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def create_application_with_http_info(
        self,
        beta_app_service_create_application_request: BetaAppServiceCreateApplicationRequest,
    ) -> "ApiResult[BetaAppServiceCreateApplicationResponse]":
        """Create Application (with HTTP info)
        Deprecated: use [application service v2 CreateApplication](apis/resources/application_service_v2/application-service-create-application.api.mdx) instead.   Create an application. The application can be OIDC, API or SAML type, based on the input.   Required permissions:    - project.app.write
        :param beta_app_service_create_application_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_create_application_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_create_application_request'"
            )

        path = "/zitadel.app.v2beta.AppService/CreateApplication"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_app_service_create_application_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaAppServiceCreateApplicationResponse",
            None,
        )

    async def create_application_key(
        self,
        beta_app_service_create_application_key_request: BetaAppServiceCreateApplicationKeyRequest,
    ) -> BetaAppServiceCreateApplicationKeyResponse:
        """Create Application Key
        Deprecated: use [application service v2 CreateApplicationKey](apis/resources/application_service_v2/application-service-create-application-key.api.mdx) instead.   Create a new application key, which is used to authorize an API application.   Key details are returned in the response. They must be stored safely, as it will not  be possible to retrieve them again.   Required permissions:    - `project.app.write`
        :param beta_app_service_create_application_key_request:  (required)

        :return: BetaAppServiceCreateApplicationKeyResponse
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_create_application_key_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_create_application_key_request'"
            )

        result = await self.create_application_key_with_http_info(
            beta_app_service_create_application_key_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def create_application_key_with_http_info(
        self,
        beta_app_service_create_application_key_request: BetaAppServiceCreateApplicationKeyRequest,
    ) -> "ApiResult[BetaAppServiceCreateApplicationKeyResponse]":
        """Create Application Key (with HTTP info)
        Deprecated: use [application service v2 CreateApplicationKey](apis/resources/application_service_v2/application-service-create-application-key.api.mdx) instead.   Create a new application key, which is used to authorize an API application.   Key details are returned in the response. They must be stored safely, as it will not  be possible to retrieve them again.   Required permissions:    - `project.app.write`
        :param beta_app_service_create_application_key_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_create_application_key_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_create_application_key_request'"
            )

        path = "/zitadel.app.v2beta.AppService/CreateApplicationKey"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_app_service_create_application_key_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaAppServiceCreateApplicationKeyResponse",
            None,
        )

    async def deactivate_application(
        self,
        beta_app_service_deactivate_application_request: BetaAppServiceDeactivateApplicationRequest,
    ) -> BetaAppServiceDeactivateApplicationResponse:
        """Deactivate Application
        Deprecated: use [application service v2 DeactivateApplication](apis/resources/application_service_v2/application-service-deactivate-application.api.mdx) instead.   Deactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write
        :param beta_app_service_deactivate_application_request:  (required)

        :return: BetaAppServiceDeactivateApplicationResponse
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_deactivate_application_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_deactivate_application_request'"
            )

        result = await self.deactivate_application_with_http_info(
            beta_app_service_deactivate_application_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def deactivate_application_with_http_info(
        self,
        beta_app_service_deactivate_application_request: BetaAppServiceDeactivateApplicationRequest,
    ) -> "ApiResult[BetaAppServiceDeactivateApplicationResponse]":
        """Deactivate Application (with HTTP info)
        Deprecated: use [application service v2 DeactivateApplication](apis/resources/application_service_v2/application-service-deactivate-application.api.mdx) instead.   Deactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write
        :param beta_app_service_deactivate_application_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_deactivate_application_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_deactivate_application_request'"
            )

        path = "/zitadel.app.v2beta.AppService/DeactivateApplication"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_app_service_deactivate_application_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaAppServiceDeactivateApplicationResponse",
            None,
        )

    async def delete_application(
        self,
        beta_app_service_delete_application_request: BetaAppServiceDeleteApplicationRequest,
    ) -> BetaAppServiceDeleteApplicationResponse:
        """Delete Application
        Deprecated: use [application service v2 DeleteApplication](apis/resources/application_service_v2/application-service-delete-application.api.mdx) instead.   Deletes the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.delete
        :param beta_app_service_delete_application_request:  (required)

        :return: BetaAppServiceDeleteApplicationResponse
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_delete_application_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_delete_application_request'"
            )

        result = await self.delete_application_with_http_info(
            beta_app_service_delete_application_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def delete_application_with_http_info(
        self,
        beta_app_service_delete_application_request: BetaAppServiceDeleteApplicationRequest,
    ) -> "ApiResult[BetaAppServiceDeleteApplicationResponse]":
        """Delete Application (with HTTP info)
        Deprecated: use [application service v2 DeleteApplication](apis/resources/application_service_v2/application-service-delete-application.api.mdx) instead.   Deletes the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.delete
        :param beta_app_service_delete_application_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_delete_application_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_delete_application_request'"
            )

        path = "/zitadel.app.v2beta.AppService/DeleteApplication"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_app_service_delete_application_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaAppServiceDeleteApplicationResponse",
            None,
        )

    async def delete_application_key(
        self,
        beta_app_service_delete_application_key_request: BetaAppServiceDeleteApplicationKeyRequest,
    ) -> BetaAppServiceDeleteApplicationKeyResponse:
        """Delete Application Key
        Deprecated: use [application service v2 DeleteApplicationKey](apis/resources/application_service_v2/application-service-delete-application-key.api.mdx) instead.   Deletes an application key matching the provided ID.   Organization ID is not mandatory, but helps with filtering/performance.   The deletion time is returned in response message.   Required permissions:    - `project.app.write`
        :param beta_app_service_delete_application_key_request:  (required)

        :return: BetaAppServiceDeleteApplicationKeyResponse
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_delete_application_key_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_delete_application_key_request'"
            )

        result = await self.delete_application_key_with_http_info(
            beta_app_service_delete_application_key_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def delete_application_key_with_http_info(
        self,
        beta_app_service_delete_application_key_request: BetaAppServiceDeleteApplicationKeyRequest,
    ) -> "ApiResult[BetaAppServiceDeleteApplicationKeyResponse]":
        """Delete Application Key (with HTTP info)
        Deprecated: use [application service v2 DeleteApplicationKey](apis/resources/application_service_v2/application-service-delete-application-key.api.mdx) instead.   Deletes an application key matching the provided ID.   Organization ID is not mandatory, but helps with filtering/performance.   The deletion time is returned in response message.   Required permissions:    - `project.app.write`
        :param beta_app_service_delete_application_key_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_delete_application_key_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_delete_application_key_request'"
            )

        path = "/zitadel.app.v2beta.AppService/DeleteApplicationKey"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_app_service_delete_application_key_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaAppServiceDeleteApplicationKeyResponse",
            None,
        )

    async def get_application(
        self,
        beta_app_service_get_application_request: BetaAppServiceGetApplicationRequest,
    ) -> BetaAppServiceGetApplicationResponse:
        """Get Application
        Deprecated: use [application service v2 GetApplication](apis/resources/application_service_v2/application-service-get-application.api.mdx) instead.   Retrieves the application matching the provided ID.   Required permissions:    - project.app.read
        :param beta_app_service_get_application_request:  (required)

        :return: BetaAppServiceGetApplicationResponse
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_get_application_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_get_application_request'"
            )

        result = await self.get_application_with_http_info(
            beta_app_service_get_application_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def get_application_with_http_info(
        self,
        beta_app_service_get_application_request: BetaAppServiceGetApplicationRequest,
    ) -> "ApiResult[BetaAppServiceGetApplicationResponse]":
        """Get Application (with HTTP info)
        Deprecated: use [application service v2 GetApplication](apis/resources/application_service_v2/application-service-get-application.api.mdx) instead.   Retrieves the application matching the provided ID.   Required permissions:    - project.app.read
        :param beta_app_service_get_application_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_get_application_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_get_application_request'"
            )

        path = "/zitadel.app.v2beta.AppService/GetApplication"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_app_service_get_application_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaAppServiceGetApplicationResponse",
            None,
        )

    async def get_application_key(
        self,
        beta_app_service_get_application_key_request: BetaAppServiceGetApplicationKeyRequest,
    ) -> BetaAppServiceGetApplicationKeyResponse:
        """Get Application Key
        Deprecated: use [application service v2 GetApplicationKey](apis/resources/application_service_v2/application-service-get-application-key.api.mdx) instead.   Retrieves the application key matching the provided ID.   Specifying a project, organization and app ID is optional but help with filtering/performance.   Required permissions:    - project.app.read
        :param beta_app_service_get_application_key_request:  (required)

        :return: BetaAppServiceGetApplicationKeyResponse
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_get_application_key_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_get_application_key_request'"
            )

        result = await self.get_application_key_with_http_info(
            beta_app_service_get_application_key_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def get_application_key_with_http_info(
        self,
        beta_app_service_get_application_key_request: BetaAppServiceGetApplicationKeyRequest,
    ) -> "ApiResult[BetaAppServiceGetApplicationKeyResponse]":
        """Get Application Key (with HTTP info)
        Deprecated: use [application service v2 GetApplicationKey](apis/resources/application_service_v2/application-service-get-application-key.api.mdx) instead.   Retrieves the application key matching the provided ID.   Specifying a project, organization and app ID is optional but help with filtering/performance.   Required permissions:    - project.app.read
        :param beta_app_service_get_application_key_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_get_application_key_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_get_application_key_request'"
            )

        path = "/zitadel.app.v2beta.AppService/GetApplicationKey"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_app_service_get_application_key_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaAppServiceGetApplicationKeyResponse",
            None,
        )

    async def list_application_keys(
        self,
        beta_app_service_list_application_keys_request: BetaAppServiceListApplicationKeysRequest,
    ) -> BetaAppServiceListApplicationKeysResponse:
        """List Application Keys
        Deprecated: use [application service v2 ListApplicationKeys](apis/resources/application_service_v2/application-service-list-application-keys.api.mdx) instead.   Returns a list of application keys matching the input parameters.   The result can be sorted by id, aggregate, creation date, expiration date, resource owner or type.  It can also be filtered by app, project or organization ID.   Required permissions:    - project.app.read
        :param beta_app_service_list_application_keys_request:  (required)

        :return: BetaAppServiceListApplicationKeysResponse
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_list_application_keys_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_list_application_keys_request'"
            )

        result = await self.list_application_keys_with_http_info(
            beta_app_service_list_application_keys_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_application_keys_with_http_info(
        self,
        beta_app_service_list_application_keys_request: BetaAppServiceListApplicationKeysRequest,
    ) -> "ApiResult[BetaAppServiceListApplicationKeysResponse]":
        """List Application Keys (with HTTP info)
        Deprecated: use [application service v2 ListApplicationKeys](apis/resources/application_service_v2/application-service-list-application-keys.api.mdx) instead.   Returns a list of application keys matching the input parameters.   The result can be sorted by id, aggregate, creation date, expiration date, resource owner or type.  It can also be filtered by app, project or organization ID.   Required permissions:    - project.app.read
        :param beta_app_service_list_application_keys_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_list_application_keys_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_list_application_keys_request'"
            )

        path = "/zitadel.app.v2beta.AppService/ListApplicationKeys"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_app_service_list_application_keys_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaAppServiceListApplicationKeysResponse",
            None,
        )

    async def list_applications(
        self,
        beta_app_service_list_applications_request: BetaAppServiceListApplicationsRequest,
    ) -> BetaAppServiceListApplicationsResponse:
        """List Applications
        Deprecated: use [application service v2 ListApplications](apis/resources/application_service_v2/application-service-list-applications.api.mdx) instead.   Returns a list of applications matching the input parameters that belong to the provided  project.   The result can be sorted by app id, name, creation date, change date or state. It can also  be filtered by app state, app type and app name.   Required permissions:    - project.app.read
        :param beta_app_service_list_applications_request:  (required)

        :return: BetaAppServiceListApplicationsResponse
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_list_applications_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_list_applications_request'"
            )

        result = await self.list_applications_with_http_info(
            beta_app_service_list_applications_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_applications_with_http_info(
        self,
        beta_app_service_list_applications_request: BetaAppServiceListApplicationsRequest,
    ) -> "ApiResult[BetaAppServiceListApplicationsResponse]":
        """List Applications (with HTTP info)
        Deprecated: use [application service v2 ListApplications](apis/resources/application_service_v2/application-service-list-applications.api.mdx) instead.   Returns a list of applications matching the input parameters that belong to the provided  project.   The result can be sorted by app id, name, creation date, change date or state. It can also  be filtered by app state, app type and app name.   Required permissions:    - project.app.read
        :param beta_app_service_list_applications_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_list_applications_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_list_applications_request'"
            )

        path = "/zitadel.app.v2beta.AppService/ListApplications"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_app_service_list_applications_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaAppServiceListApplicationsResponse",
            None,
        )

    async def reactivate_application(
        self,
        beta_app_service_reactivate_application_request: BetaAppServiceReactivateApplicationRequest,
    ) -> BetaAppServiceReactivateApplicationResponse:
        """Reactivate Application
        Deprecated: use [application service v2 ReactivateApplication](apis/resources/application_service_v2/application-service-reactivate-application.api.mdx) instead.   Reactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write
        :param beta_app_service_reactivate_application_request:  (required)

        :return: BetaAppServiceReactivateApplicationResponse
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_reactivate_application_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_reactivate_application_request'"
            )

        result = await self.reactivate_application_with_http_info(
            beta_app_service_reactivate_application_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def reactivate_application_with_http_info(
        self,
        beta_app_service_reactivate_application_request: BetaAppServiceReactivateApplicationRequest,
    ) -> "ApiResult[BetaAppServiceReactivateApplicationResponse]":
        """Reactivate Application (with HTTP info)
        Deprecated: use [application service v2 ReactivateApplication](apis/resources/application_service_v2/application-service-reactivate-application.api.mdx) instead.   Reactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write
        :param beta_app_service_reactivate_application_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_reactivate_application_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_reactivate_application_request'"
            )

        path = "/zitadel.app.v2beta.AppService/ReactivateApplication"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_app_service_reactivate_application_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaAppServiceReactivateApplicationResponse",
            None,
        )

    async def regenerate_client_secret(
        self,
        beta_app_service_regenerate_client_secret_request: BetaAppServiceRegenerateClientSecretRequest,
    ) -> BetaAppServiceRegenerateClientSecretResponse:
        """Regenerate Client Secret
        Deprecated: use [application service v2 GenerateClientSecret](apis/resources/application_service_v2/application-service-generate-client-secret.api.mdx) instead.   Regenerates the client secret of an API or OIDC application that belongs to the input project.    Required permissions:    - project.app.write
        :param beta_app_service_regenerate_client_secret_request:  (required)

        :return: BetaAppServiceRegenerateClientSecretResponse
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_regenerate_client_secret_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_regenerate_client_secret_request'"
            )

        result = await self.regenerate_client_secret_with_http_info(
            beta_app_service_regenerate_client_secret_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def regenerate_client_secret_with_http_info(
        self,
        beta_app_service_regenerate_client_secret_request: BetaAppServiceRegenerateClientSecretRequest,
    ) -> "ApiResult[BetaAppServiceRegenerateClientSecretResponse]":
        """Regenerate Client Secret (with HTTP info)
        Deprecated: use [application service v2 GenerateClientSecret](apis/resources/application_service_v2/application-service-generate-client-secret.api.mdx) instead.   Regenerates the client secret of an API or OIDC application that belongs to the input project.    Required permissions:    - project.app.write
        :param beta_app_service_regenerate_client_secret_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_regenerate_client_secret_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_regenerate_client_secret_request'"
            )

        path = "/zitadel.app.v2beta.AppService/RegenerateClientSecret"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_app_service_regenerate_client_secret_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaAppServiceRegenerateClientSecretResponse",
            None,
        )

    async def update_application(
        self,
        beta_app_service_update_application_request: BetaAppServiceUpdateApplicationRequest,
    ) -> BetaAppServiceUpdateApplicationResponse:
        """Update Application
        Deprecated: use [application service v2 UpdateApplication](apis/resources/application_service_v2/zitadel-app-v-2-application-service-update-application.api.mdx) instead.   Changes the configuration of an OIDC, API or SAML type application, as well as  the application name, based on the input provided.   Required permissions:    - project.app.write
        :param beta_app_service_update_application_request:  (required)

        :return: BetaAppServiceUpdateApplicationResponse
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_update_application_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_update_application_request'"
            )

        result = await self.update_application_with_http_info(
            beta_app_service_update_application_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def update_application_with_http_info(
        self,
        beta_app_service_update_application_request: BetaAppServiceUpdateApplicationRequest,
    ) -> "ApiResult[BetaAppServiceUpdateApplicationResponse]":
        """Update Application (with HTTP info)
        Deprecated: use [application service v2 UpdateApplication](apis/resources/application_service_v2/zitadel-app-v-2-application-service-update-application.api.mdx) instead.   Changes the configuration of an OIDC, API or SAML type application, as well as  the application name, based on the input provided.   Required permissions:    - project.app.write
        :param beta_app_service_update_application_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_app_service_update_application_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_app_service_update_application_request'"
            )

        path = "/zitadel.app.v2beta.AppService/UpdateApplication"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_app_service_update_application_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaAppServiceUpdateApplicationResponse",
            None,
        )
