# ruff: noqa
# mypy: ignore-errors
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

from typing import Any, Dict, List, Optional
from pydantic import StrictBool, StrictFloat, StrictInt, StrictStr

from zitadel_client.models.beta_oidc_service_connect_error import (
    BetaOIDCServiceConnectError,
)
from zitadel_client.models.beta_oidc_service_create_callback_request import (
    BetaOIDCServiceCreateCallbackRequest,
)
from zitadel_client.models.beta_oidc_service_create_callback_response import (
    BetaOIDCServiceCreateCallbackResponse,
)
from zitadel_client.models.beta_oidc_service_get_auth_request_request import (
    BetaOIDCServiceGetAuthRequestRequest,
)
from zitadel_client.models.beta_oidc_service_get_auth_request_response import (
    BetaOIDCServiceGetAuthRequestResponse,
)

from ..api_client import ApiClient
from ..api_result import ApiResult
from ..configuration import Configuration
from .base_api import BaseApi
from ..value_serializer import ValueSerializer
from ..auth.authenticator import Authenticator
from ..errors import ApiException


class BetaOIDCServiceApi(BaseApi):
    """BetaOIDCServiceApi provides methods for the BetaOIDCService API group."""

    def __init__(
        self,
        api_client: Optional[ApiClient] = None,
        config: Optional[Configuration] = None,
        authenticator: Optional[Authenticator] = None,
    ):
        super().__init__(api_client, config, authenticator)

    async def create_callback(
        self,
        beta_oidc_service_create_callback_request: BetaOIDCServiceCreateCallbackRequest,
    ) -> BetaOIDCServiceCreateCallbackResponse:
        """Create Callback
        Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Finalize an Auth Request and get the callback URL for success or failure.  The user must be redirected to the URL in order to inform the application about the success or failure.  On success, the URL contains details for the application to obtain the tokens.  This method can only be called once for an Auth request.
        :param beta_oidc_service_create_callback_request:  (required)

        :return: BetaOIDCServiceCreateCallbackResponse
        :raises ApiException: if fails to make API call
        """
        if beta_oidc_service_create_callback_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_oidc_service_create_callback_request'"
            )

        result = await self.create_callback_with_http_info(
            beta_oidc_service_create_callback_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def create_callback_with_http_info(
        self,
        beta_oidc_service_create_callback_request: BetaOIDCServiceCreateCallbackRequest,
    ) -> "ApiResult[BetaOIDCServiceCreateCallbackResponse]":
        """Create Callback (with HTTP info)
        Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Finalize an Auth Request and get the callback URL for success or failure.  The user must be redirected to the URL in order to inform the application about the success or failure.  On success, the URL contains details for the application to obtain the tokens.  This method can only be called once for an Auth request.
        :param beta_oidc_service_create_callback_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_oidc_service_create_callback_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_oidc_service_create_callback_request'"
            )

        path = "/zitadel.oidc.v2beta.OIDCService/CreateCallback"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_oidc_service_create_callback_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaOIDCServiceCreateCallbackResponse",
            None,
        )

    async def get_auth_request(
        self,
        beta_oidc_service_get_auth_request_request: BetaOIDCServiceGetAuthRequestRequest,
    ) -> BetaOIDCServiceGetAuthRequestResponse:
        """Get AuthRequest
        Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Get OIDC Auth Request details by ID, obtained from the redirect URL. Returns details that are parsed from the application's Auth Request.
        :param beta_oidc_service_get_auth_request_request:  (required)

        :return: BetaOIDCServiceGetAuthRequestResponse
        :raises ApiException: if fails to make API call
        """
        if beta_oidc_service_get_auth_request_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_oidc_service_get_auth_request_request'"
            )

        result = await self.get_auth_request_with_http_info(
            beta_oidc_service_get_auth_request_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def get_auth_request_with_http_info(
        self,
        beta_oidc_service_get_auth_request_request: BetaOIDCServiceGetAuthRequestRequest,
    ) -> "ApiResult[BetaOIDCServiceGetAuthRequestResponse]":
        """Get AuthRequest (with HTTP info)
        Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Get OIDC Auth Request details by ID, obtained from the redirect URL. Returns details that are parsed from the application's Auth Request.
        :param beta_oidc_service_get_auth_request_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if beta_oidc_service_get_auth_request_request is None:
            raise ValueError(
                "Missing the required parameter 'beta_oidc_service_get_auth_request_request'"
            )

        path = "/zitadel.oidc.v2beta.OIDCService/GetAuthRequest"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = beta_oidc_service_get_auth_request_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "BetaOIDCServiceGetAuthRequestResponse",
            None,
        )
