# ruff: noqa
# mypy: ignore-errors
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

from typing import Any, Dict, List, Optional
from pydantic import StrictBool, StrictFloat, StrictInt, StrictStr

from zitadel_client.models.identity_provider_service_connect_error import (
    IdentityProviderServiceConnectError,
)
from zitadel_client.models.identity_provider_service_get_idpby_id_request import (
    IdentityProviderServiceGetIDPByIDRequest,
)
from zitadel_client.models.identity_provider_service_get_idpby_id_response import (
    IdentityProviderServiceGetIDPByIDResponse,
)

from ..api_client import ApiClient
from ..api_result import ApiResult
from ..configuration import Configuration
from .base_api import BaseApi
from ..value_serializer import ValueSerializer
from ..auth.authenticator import Authenticator
from ..errors import ApiException


class IdentityProviderServiceApi(BaseApi):
    """IdentityProviderServiceApi provides methods for the IdentityProviderService API group."""

    def __init__(
        self,
        api_client: Optional[ApiClient] = None,
        config: Optional[Configuration] = None,
        authenticator: Optional[Authenticator] = None,
    ):
        super().__init__(api_client, config, authenticator)

    async def get_idpby_id(
        self,
        identity_provider_service_get_idpby_id_request: IdentityProviderServiceGetIDPByIDRequest,
    ) -> IdentityProviderServiceGetIDPByIDResponse:
        """Get identity provider (IdP) by ID
        Returns an identity provider (social/enterprise login) by its ID, which can be of the type Google, AzureAD, etc.
        :param identity_provider_service_get_idpby_id_request:  (required)

        :return: IdentityProviderServiceGetIDPByIDResponse
        :raises ApiException: if fails to make API call
        """
        if identity_provider_service_get_idpby_id_request is None:
            raise ValueError(
                "Missing the required parameter 'identity_provider_service_get_idpby_id_request'"
            )

        result = await self.get_idpby_id_with_http_info(
            identity_provider_service_get_idpby_id_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def get_idpby_id_with_http_info(
        self,
        identity_provider_service_get_idpby_id_request: IdentityProviderServiceGetIDPByIDRequest,
    ) -> "ApiResult[IdentityProviderServiceGetIDPByIDResponse]":
        """Get identity provider (IdP) by ID (with HTTP info)
        Returns an identity provider (social/enterprise login) by its ID, which can be of the type Google, AzureAD, etc.
        :param identity_provider_service_get_idpby_id_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if identity_provider_service_get_idpby_id_request is None:
            raise ValueError(
                "Missing the required parameter 'identity_provider_service_get_idpby_id_request'"
            )

        path = "/zitadel.idp.v2.IdentityProviderService/GetIDPByID"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = identity_provider_service_get_idpby_id_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "IdentityProviderServiceGetIDPByIDResponse",
            None,
        )
