# ruff: noqa
# mypy: ignore-errors
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

from typing import Any, Dict, List, Optional
from pydantic import StrictBool, StrictFloat, StrictInt, StrictStr

from zitadel_client.models.instance_service_add_custom_domain_request import (
    InstanceServiceAddCustomDomainRequest,
)
from zitadel_client.models.instance_service_add_custom_domain_response import (
    InstanceServiceAddCustomDomainResponse,
)
from zitadel_client.models.instance_service_add_trusted_domain_request import (
    InstanceServiceAddTrustedDomainRequest,
)
from zitadel_client.models.instance_service_add_trusted_domain_response import (
    InstanceServiceAddTrustedDomainResponse,
)
from zitadel_client.models.instance_service_connect_error import (
    InstanceServiceConnectError,
)
from zitadel_client.models.instance_service_delete_instance_request import (
    InstanceServiceDeleteInstanceRequest,
)
from zitadel_client.models.instance_service_delete_instance_response import (
    InstanceServiceDeleteInstanceResponse,
)
from zitadel_client.models.instance_service_get_instance_request import (
    InstanceServiceGetInstanceRequest,
)
from zitadel_client.models.instance_service_get_instance_response import (
    InstanceServiceGetInstanceResponse,
)
from zitadel_client.models.instance_service_list_custom_domains_request import (
    InstanceServiceListCustomDomainsRequest,
)
from zitadel_client.models.instance_service_list_custom_domains_response import (
    InstanceServiceListCustomDomainsResponse,
)
from zitadel_client.models.instance_service_list_instances_request import (
    InstanceServiceListInstancesRequest,
)
from zitadel_client.models.instance_service_list_instances_response import (
    InstanceServiceListInstancesResponse,
)
from zitadel_client.models.instance_service_list_trusted_domains_request import (
    InstanceServiceListTrustedDomainsRequest,
)
from zitadel_client.models.instance_service_list_trusted_domains_response import (
    InstanceServiceListTrustedDomainsResponse,
)
from zitadel_client.models.instance_service_remove_custom_domain_request import (
    InstanceServiceRemoveCustomDomainRequest,
)
from zitadel_client.models.instance_service_remove_custom_domain_response import (
    InstanceServiceRemoveCustomDomainResponse,
)
from zitadel_client.models.instance_service_remove_trusted_domain_request import (
    InstanceServiceRemoveTrustedDomainRequest,
)
from zitadel_client.models.instance_service_remove_trusted_domain_response import (
    InstanceServiceRemoveTrustedDomainResponse,
)
from zitadel_client.models.instance_service_update_instance_request import (
    InstanceServiceUpdateInstanceRequest,
)
from zitadel_client.models.instance_service_update_instance_response import (
    InstanceServiceUpdateInstanceResponse,
)

from ..api_client import ApiClient
from ..api_result import ApiResult
from ..configuration import Configuration
from .base_api import BaseApi
from ..value_serializer import ValueSerializer
from ..auth.authenticator import Authenticator
from ..errors import ApiException


class InstanceServiceApi(BaseApi):
    """InstanceServiceApi provides methods for the InstanceService API group."""

    def __init__(
        self,
        api_client: Optional[ApiClient] = None,
        config: Optional[Configuration] = None,
        authenticator: Optional[Authenticator] = None,
    ):
        super().__init__(api_client, config, authenticator)

    async def add_custom_domain(
        self,
        instance_service_add_custom_domain_request: InstanceServiceAddCustomDomainRequest,
    ) -> InstanceServiceAddCustomDomainResponse:
        """Add Custom Domain
        Adds a custom domain to the instance.  The custom domain must be unique across all instances.  Once the domain is added, it will be used to route requests to this instance.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:    - `system.domain.write`
        :param instance_service_add_custom_domain_request:  (required)

        :return: InstanceServiceAddCustomDomainResponse
        :raises ApiException: if fails to make API call
        """
        if instance_service_add_custom_domain_request is None:
            raise ValueError(
                "Missing the required parameter 'instance_service_add_custom_domain_request'"
            )

        result = await self.add_custom_domain_with_http_info(
            instance_service_add_custom_domain_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def add_custom_domain_with_http_info(
        self,
        instance_service_add_custom_domain_request: InstanceServiceAddCustomDomainRequest,
    ) -> "ApiResult[InstanceServiceAddCustomDomainResponse]":
        """Add Custom Domain (with HTTP info)
        Adds a custom domain to the instance.  The custom domain must be unique across all instances.  Once the domain is added, it will be used to route requests to this instance.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:    - `system.domain.write`
        :param instance_service_add_custom_domain_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if instance_service_add_custom_domain_request is None:
            raise ValueError(
                "Missing the required parameter 'instance_service_add_custom_domain_request'"
            )

        path = "/zitadel.instance.v2.InstanceService/AddCustomDomain"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = instance_service_add_custom_domain_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "InstanceServiceAddCustomDomainResponse",
            None,
        )

    async def add_trusted_domain(
        self,
        instance_service_add_trusted_domain_request: InstanceServiceAddTrustedDomainRequest,
    ) -> InstanceServiceAddTrustedDomainResponse:
        """Add Trusted Domain
        Adds a trusted domain to the instance.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   It must be a valid domain name.  Once the domain is added, it can be used in API responses like OIDC discovery,  email templates, and more.  This can be used in cases where the API is accessed through a different domain  than the instance domain, e.g. proxy setups and custom login UIs.  Unlike custom domain, trusted domains are not used to route requests to this instance  and therefore do not need to be uniquely assigned to an instance.   Required permissions:   - `iam.write`   - `system.instance.write` (if InstanceID is set)
        :param instance_service_add_trusted_domain_request:  (required)

        :return: InstanceServiceAddTrustedDomainResponse
        :raises ApiException: if fails to make API call
        """
        if instance_service_add_trusted_domain_request is None:
            raise ValueError(
                "Missing the required parameter 'instance_service_add_trusted_domain_request'"
            )

        result = await self.add_trusted_domain_with_http_info(
            instance_service_add_trusted_domain_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def add_trusted_domain_with_http_info(
        self,
        instance_service_add_trusted_domain_request: InstanceServiceAddTrustedDomainRequest,
    ) -> "ApiResult[InstanceServiceAddTrustedDomainResponse]":
        """Add Trusted Domain (with HTTP info)
        Adds a trusted domain to the instance.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   It must be a valid domain name.  Once the domain is added, it can be used in API responses like OIDC discovery,  email templates, and more.  This can be used in cases where the API is accessed through a different domain  than the instance domain, e.g. proxy setups and custom login UIs.  Unlike custom domain, trusted domains are not used to route requests to this instance  and therefore do not need to be uniquely assigned to an instance.   Required permissions:   - `iam.write`   - `system.instance.write` (if InstanceID is set)
        :param instance_service_add_trusted_domain_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if instance_service_add_trusted_domain_request is None:
            raise ValueError(
                "Missing the required parameter 'instance_service_add_trusted_domain_request'"
            )

        path = "/zitadel.instance.v2.InstanceService/AddTrustedDomain"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = instance_service_add_trusted_domain_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "InstanceServiceAddTrustedDomainResponse",
            None,
        )

    async def delete_instance(
        self,
        instance_service_delete_instance_request: InstanceServiceDeleteInstanceRequest,
    ) -> InstanceServiceDeleteInstanceResponse:
        """Delete Instance
        Deletes an instance with the given ID.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:    - `system.instance.delete`
        :param instance_service_delete_instance_request:  (required)

        :return: InstanceServiceDeleteInstanceResponse
        :raises ApiException: if fails to make API call
        """
        if instance_service_delete_instance_request is None:
            raise ValueError(
                "Missing the required parameter 'instance_service_delete_instance_request'"
            )

        result = await self.delete_instance_with_http_info(
            instance_service_delete_instance_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def delete_instance_with_http_info(
        self,
        instance_service_delete_instance_request: InstanceServiceDeleteInstanceRequest,
    ) -> "ApiResult[InstanceServiceDeleteInstanceResponse]":
        """Delete Instance (with HTTP info)
        Deletes an instance with the given ID.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:    - `system.instance.delete`
        :param instance_service_delete_instance_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if instance_service_delete_instance_request is None:
            raise ValueError(
                "Missing the required parameter 'instance_service_delete_instance_request'"
            )

        path = "/zitadel.instance.v2.InstanceService/DeleteInstance"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = instance_service_delete_instance_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "InstanceServiceDeleteInstanceResponse",
            None,
        )

    async def get_instance(
        self,
        instance_service_get_instance_request: InstanceServiceGetInstanceRequest,
    ) -> InstanceServiceGetInstanceResponse:
        """Get Instance
        Returns the instance in the current context or by its ID.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to retrieve a specific instance.  This requires additional permissions.   Required permissions:    - `iam.read`    - `system.instance.read` (if InstanceID is set)
        :param instance_service_get_instance_request:  (required)

        :return: InstanceServiceGetInstanceResponse
        :raises ApiException: if fails to make API call
        """
        if instance_service_get_instance_request is None:
            raise ValueError(
                "Missing the required parameter 'instance_service_get_instance_request'"
            )

        result = await self.get_instance_with_http_info(
            instance_service_get_instance_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def get_instance_with_http_info(
        self,
        instance_service_get_instance_request: InstanceServiceGetInstanceRequest,
    ) -> "ApiResult[InstanceServiceGetInstanceResponse]":
        """Get Instance (with HTTP info)
        Returns the instance in the current context or by its ID.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to retrieve a specific instance.  This requires additional permissions.   Required permissions:    - `iam.read`    - `system.instance.read` (if InstanceID is set)
        :param instance_service_get_instance_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if instance_service_get_instance_request is None:
            raise ValueError(
                "Missing the required parameter 'instance_service_get_instance_request'"
            )

        path = "/zitadel.instance.v2.InstanceService/GetInstance"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = instance_service_get_instance_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "InstanceServiceGetInstanceResponse",
            None,
        )

    async def list_custom_domains(
        self,
        instance_service_list_custom_domains_request: InstanceServiceListCustomDomainsRequest,
    ) -> InstanceServiceListCustomDomainsResponse:
        """List Custom Domains
        Lists custom domains of the instance.   By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   Required permissions:   - `iam.read`   - `system.instance.read` (if InstanceID is set)
        :param instance_service_list_custom_domains_request:  (required)

        :return: InstanceServiceListCustomDomainsResponse
        :raises ApiException: if fails to make API call
        """
        if instance_service_list_custom_domains_request is None:
            raise ValueError(
                "Missing the required parameter 'instance_service_list_custom_domains_request'"
            )

        result = await self.list_custom_domains_with_http_info(
            instance_service_list_custom_domains_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_custom_domains_with_http_info(
        self,
        instance_service_list_custom_domains_request: InstanceServiceListCustomDomainsRequest,
    ) -> "ApiResult[InstanceServiceListCustomDomainsResponse]":
        """List Custom Domains (with HTTP info)
        Lists custom domains of the instance.   By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   Required permissions:   - `iam.read`   - `system.instance.read` (if InstanceID is set)
        :param instance_service_list_custom_domains_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if instance_service_list_custom_domains_request is None:
            raise ValueError(
                "Missing the required parameter 'instance_service_list_custom_domains_request'"
            )

        path = "/zitadel.instance.v2.InstanceService/ListCustomDomains"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = instance_service_list_custom_domains_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "InstanceServiceListCustomDomainsResponse",
            None,
        )

    async def list_instances(
        self,
        instance_service_list_instances_request: InstanceServiceListInstancesRequest,
    ) -> InstanceServiceListInstancesResponse:
        """List Instances
        Lists instances matching the given query.  The query can be used to filter either by instance ID or domain.  The request is paginated and returns 100 results by default.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:   - `system.instance.read`
        :param instance_service_list_instances_request:  (required)

        :return: InstanceServiceListInstancesResponse
        :raises ApiException: if fails to make API call
        """
        if instance_service_list_instances_request is None:
            raise ValueError(
                "Missing the required parameter 'instance_service_list_instances_request'"
            )

        result = await self.list_instances_with_http_info(
            instance_service_list_instances_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_instances_with_http_info(
        self,
        instance_service_list_instances_request: InstanceServiceListInstancesRequest,
    ) -> "ApiResult[InstanceServiceListInstancesResponse]":
        """List Instances (with HTTP info)
        Lists instances matching the given query.  The query can be used to filter either by instance ID or domain.  The request is paginated and returns 100 results by default.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:   - `system.instance.read`
        :param instance_service_list_instances_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if instance_service_list_instances_request is None:
            raise ValueError(
                "Missing the required parameter 'instance_service_list_instances_request'"
            )

        path = "/zitadel.instance.v2.InstanceService/ListInstances"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = instance_service_list_instances_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "InstanceServiceListInstancesResponse",
            None,
        )

    async def list_trusted_domains(
        self,
        instance_service_list_trusted_domains_request: InstanceServiceListTrustedDomainsRequest,
    ) -> InstanceServiceListTrustedDomainsResponse:
        """List Trusted Domains
        Lists trusted domains of the instance.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   Required permissions:    - `iam.read`    - `system.instance.read` (if InstanceID is set)
        :param instance_service_list_trusted_domains_request:  (required)

        :return: InstanceServiceListTrustedDomainsResponse
        :raises ApiException: if fails to make API call
        """
        if instance_service_list_trusted_domains_request is None:
            raise ValueError(
                "Missing the required parameter 'instance_service_list_trusted_domains_request'"
            )

        result = await self.list_trusted_domains_with_http_info(
            instance_service_list_trusted_domains_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_trusted_domains_with_http_info(
        self,
        instance_service_list_trusted_domains_request: InstanceServiceListTrustedDomainsRequest,
    ) -> "ApiResult[InstanceServiceListTrustedDomainsResponse]":
        """List Trusted Domains (with HTTP info)
        Lists trusted domains of the instance.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   Required permissions:    - `iam.read`    - `system.instance.read` (if InstanceID is set)
        :param instance_service_list_trusted_domains_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if instance_service_list_trusted_domains_request is None:
            raise ValueError(
                "Missing the required parameter 'instance_service_list_trusted_domains_request'"
            )

        path = "/zitadel.instance.v2.InstanceService/ListTrustedDomains"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = instance_service_list_trusted_domains_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "InstanceServiceListTrustedDomainsResponse",
            None,
        )

    async def remove_custom_domain(
        self,
        instance_service_remove_custom_domain_request: InstanceServiceRemoveCustomDomainRequest,
    ) -> InstanceServiceRemoveCustomDomainResponse:
        """Remove Custom Domain
        Removes a custom domain from the instance.  Be aware that this will stop routing requests from this domain to the instance and  might break existing setups or integrations.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:   - `system.domain.write`
        :param instance_service_remove_custom_domain_request:  (required)

        :return: InstanceServiceRemoveCustomDomainResponse
        :raises ApiException: if fails to make API call
        """
        if instance_service_remove_custom_domain_request is None:
            raise ValueError(
                "Missing the required parameter 'instance_service_remove_custom_domain_request'"
            )

        result = await self.remove_custom_domain_with_http_info(
            instance_service_remove_custom_domain_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def remove_custom_domain_with_http_info(
        self,
        instance_service_remove_custom_domain_request: InstanceServiceRemoveCustomDomainRequest,
    ) -> "ApiResult[InstanceServiceRemoveCustomDomainResponse]":
        """Remove Custom Domain (with HTTP info)
        Removes a custom domain from the instance.  Be aware that this will stop routing requests from this domain to the instance and  might break existing setups or integrations.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:   - `system.domain.write`
        :param instance_service_remove_custom_domain_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if instance_service_remove_custom_domain_request is None:
            raise ValueError(
                "Missing the required parameter 'instance_service_remove_custom_domain_request'"
            )

        path = "/zitadel.instance.v2.InstanceService/RemoveCustomDomain"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = instance_service_remove_custom_domain_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "InstanceServiceRemoveCustomDomainResponse",
            None,
        )

    async def remove_trusted_domain(
        self,
        instance_service_remove_trusted_domain_request: InstanceServiceRemoveTrustedDomainRequest,
    ) -> InstanceServiceRemoveTrustedDomainResponse:
        """Remove Trusted Domain
        Removes a trusted domain from the instance.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   Required permissions:   - `iam.write`   - `system.instance.write` (if InstanceID is set)
        :param instance_service_remove_trusted_domain_request:  (required)

        :return: InstanceServiceRemoveTrustedDomainResponse
        :raises ApiException: if fails to make API call
        """
        if instance_service_remove_trusted_domain_request is None:
            raise ValueError(
                "Missing the required parameter 'instance_service_remove_trusted_domain_request'"
            )

        result = await self.remove_trusted_domain_with_http_info(
            instance_service_remove_trusted_domain_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def remove_trusted_domain_with_http_info(
        self,
        instance_service_remove_trusted_domain_request: InstanceServiceRemoveTrustedDomainRequest,
    ) -> "ApiResult[InstanceServiceRemoveTrustedDomainResponse]":
        """Remove Trusted Domain (with HTTP info)
        Removes a trusted domain from the instance.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   Required permissions:   - `iam.write`   - `system.instance.write` (if InstanceID is set)
        :param instance_service_remove_trusted_domain_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if instance_service_remove_trusted_domain_request is None:
            raise ValueError(
                "Missing the required parameter 'instance_service_remove_trusted_domain_request'"
            )

        path = "/zitadel.instance.v2.InstanceService/RemoveTrustedDomain"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = instance_service_remove_trusted_domain_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "InstanceServiceRemoveTrustedDomainResponse",
            None,
        )

    async def update_instance(
        self,
        instance_service_update_instance_request: InstanceServiceUpdateInstanceRequest,
    ) -> InstanceServiceUpdateInstanceResponse:
        """Update Instance
        Updates instance's name in the current context or by its ID.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to update a specific instance.  This requires additional permissions.   Required permissions:    - `iam.write`    - `system.instance.write` (if InstanceID is set)
        :param instance_service_update_instance_request:  (required)

        :return: InstanceServiceUpdateInstanceResponse
        :raises ApiException: if fails to make API call
        """
        if instance_service_update_instance_request is None:
            raise ValueError(
                "Missing the required parameter 'instance_service_update_instance_request'"
            )

        result = await self.update_instance_with_http_info(
            instance_service_update_instance_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def update_instance_with_http_info(
        self,
        instance_service_update_instance_request: InstanceServiceUpdateInstanceRequest,
    ) -> "ApiResult[InstanceServiceUpdateInstanceResponse]":
        """Update Instance (with HTTP info)
        Updates instance's name in the current context or by its ID.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to update a specific instance.  This requires additional permissions.   Required permissions:    - `iam.write`    - `system.instance.write` (if InstanceID is set)
        :param instance_service_update_instance_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if instance_service_update_instance_request is None:
            raise ValueError(
                "Missing the required parameter 'instance_service_update_instance_request'"
            )

        path = "/zitadel.instance.v2.InstanceService/UpdateInstance"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = instance_service_update_instance_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "InstanceServiceUpdateInstanceResponse",
            None,
        )
