# ruff: noqa
# mypy: ignore-errors
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

from typing import Any, Dict, List, Optional
from pydantic import StrictBool, StrictFloat, StrictInt, StrictStr

from zitadel_client.models.internal_permission_service_connect_error import (
    InternalPermissionServiceConnectError,
)
from zitadel_client.models.internal_permission_service_create_administrator_request import (
    InternalPermissionServiceCreateAdministratorRequest,
)
from zitadel_client.models.internal_permission_service_create_administrator_response import (
    InternalPermissionServiceCreateAdministratorResponse,
)
from zitadel_client.models.internal_permission_service_delete_administrator_request import (
    InternalPermissionServiceDeleteAdministratorRequest,
)
from zitadel_client.models.internal_permission_service_delete_administrator_response import (
    InternalPermissionServiceDeleteAdministratorResponse,
)
from zitadel_client.models.internal_permission_service_list_administrators_request import (
    InternalPermissionServiceListAdministratorsRequest,
)
from zitadel_client.models.internal_permission_service_list_administrators_response import (
    InternalPermissionServiceListAdministratorsResponse,
)
from zitadel_client.models.internal_permission_service_update_administrator_request import (
    InternalPermissionServiceUpdateAdministratorRequest,
)
from zitadel_client.models.internal_permission_service_update_administrator_response import (
    InternalPermissionServiceUpdateAdministratorResponse,
)

from ..api_client import ApiClient
from ..api_result import ApiResult
from ..configuration import Configuration
from .base_api import BaseApi
from ..value_serializer import ValueSerializer
from ..auth.authenticator import Authenticator
from ..errors import ApiException


class InternalPermissionServiceApi(BaseApi):
    """InternalPermissionServiceApi provides methods for the InternalPermissionService API group."""

    def __init__(
        self,
        api_client: Optional[ApiClient] = None,
        config: Optional[Configuration] = None,
        authenticator: Optional[Authenticator] = None,
    ):
        super().__init__(api_client, config, authenticator)

    async def create_administrator(
        self,
        internal_permission_service_create_administrator_request: InternalPermissionServiceCreateAdministratorRequest,
    ) -> InternalPermissionServiceCreateAdministratorResponse:
        """Create Administrator
        CreateAdministrator grants an administrator role to a user for a specific resource.   Note that the roles are specific to the resource type.  This means that if you want to grant a user the administrator role for an organization and a project,  you need to create two administrator roles.   Required permissions depend on the resource type:    - \"iam.member.write\" for instance administrators    - \"org.member.write\" for organization administrators    - \"project.member.write\" for project administrators    - \"project.grant.member.write\" for project grant administrators
        :param internal_permission_service_create_administrator_request:  (required)

        :return: InternalPermissionServiceCreateAdministratorResponse
        :raises ApiException: if fails to make API call
        """
        if internal_permission_service_create_administrator_request is None:
            raise ValueError(
                "Missing the required parameter 'internal_permission_service_create_administrator_request'"
            )

        result = await self.create_administrator_with_http_info(
            internal_permission_service_create_administrator_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def create_administrator_with_http_info(
        self,
        internal_permission_service_create_administrator_request: InternalPermissionServiceCreateAdministratorRequest,
    ) -> "ApiResult[InternalPermissionServiceCreateAdministratorResponse]":
        """Create Administrator (with HTTP info)
        CreateAdministrator grants an administrator role to a user for a specific resource.   Note that the roles are specific to the resource type.  This means that if you want to grant a user the administrator role for an organization and a project,  you need to create two administrator roles.   Required permissions depend on the resource type:    - \"iam.member.write\" for instance administrators    - \"org.member.write\" for organization administrators    - \"project.member.write\" for project administrators    - \"project.grant.member.write\" for project grant administrators
        :param internal_permission_service_create_administrator_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if internal_permission_service_create_administrator_request is None:
            raise ValueError(
                "Missing the required parameter 'internal_permission_service_create_administrator_request'"
            )

        path = "/zitadel.internal_permission.v2.InternalPermissionService/CreateAdministrator"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = internal_permission_service_create_administrator_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "InternalPermissionServiceCreateAdministratorResponse",
            None,
        )

    async def delete_administrator(
        self,
        internal_permission_service_delete_administrator_request: InternalPermissionServiceDeleteAdministratorRequest,
    ) -> InternalPermissionServiceDeleteAdministratorResponse:
        """Delete Administrator
        DeleteAdministrator revokes an administrator role from a user.   In case the administrator role is not found, the request will return a successful response as  the desired state is already achieved.  You can check the deletion date in the response to verify if the administrator role was deleted during the request.   Required permissions depend on the resource type:    - \"iam.member.delete\" for instance administrators    - \"org.member.delete\" for organization administrators    - \"project.member.delete\" for project administrators    - \"project.grant.member.delete\" for project grant administrators
        :param internal_permission_service_delete_administrator_request:  (required)

        :return: InternalPermissionServiceDeleteAdministratorResponse
        :raises ApiException: if fails to make API call
        """
        if internal_permission_service_delete_administrator_request is None:
            raise ValueError(
                "Missing the required parameter 'internal_permission_service_delete_administrator_request'"
            )

        result = await self.delete_administrator_with_http_info(
            internal_permission_service_delete_administrator_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def delete_administrator_with_http_info(
        self,
        internal_permission_service_delete_administrator_request: InternalPermissionServiceDeleteAdministratorRequest,
    ) -> "ApiResult[InternalPermissionServiceDeleteAdministratorResponse]":
        """Delete Administrator (with HTTP info)
        DeleteAdministrator revokes an administrator role from a user.   In case the administrator role is not found, the request will return a successful response as  the desired state is already achieved.  You can check the deletion date in the response to verify if the administrator role was deleted during the request.   Required permissions depend on the resource type:    - \"iam.member.delete\" for instance administrators    - \"org.member.delete\" for organization administrators    - \"project.member.delete\" for project administrators    - \"project.grant.member.delete\" for project grant administrators
        :param internal_permission_service_delete_administrator_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if internal_permission_service_delete_administrator_request is None:
            raise ValueError(
                "Missing the required parameter 'internal_permission_service_delete_administrator_request'"
            )

        path = "/zitadel.internal_permission.v2.InternalPermissionService/DeleteAdministrator"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = internal_permission_service_delete_administrator_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "InternalPermissionServiceDeleteAdministratorResponse",
            None,
        )

    async def list_administrators(
        self,
        internal_permission_service_list_administrators_request: InternalPermissionServiceListAdministratorsRequest,
    ) -> InternalPermissionServiceListAdministratorsResponse:
        """List Administrators
        ListAdministrators returns all administrators and their roles matching the request and the caller's permissions to retrieve.   Required permissions depend on the resource type:    - \"iam.member.read\" for instance administrators    - \"org.member.read\" for organization administrators    - \"project.member.read\" for project administrators    - \"project.grant.member.read\" for project grant administrators    - no permissions required for listing own administrator roles
        :param internal_permission_service_list_administrators_request:  (required)

        :return: InternalPermissionServiceListAdministratorsResponse
        :raises ApiException: if fails to make API call
        """
        if internal_permission_service_list_administrators_request is None:
            raise ValueError(
                "Missing the required parameter 'internal_permission_service_list_administrators_request'"
            )

        result = await self.list_administrators_with_http_info(
            internal_permission_service_list_administrators_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_administrators_with_http_info(
        self,
        internal_permission_service_list_administrators_request: InternalPermissionServiceListAdministratorsRequest,
    ) -> "ApiResult[InternalPermissionServiceListAdministratorsResponse]":
        """List Administrators (with HTTP info)
        ListAdministrators returns all administrators and their roles matching the request and the caller's permissions to retrieve.   Required permissions depend on the resource type:    - \"iam.member.read\" for instance administrators    - \"org.member.read\" for organization administrators    - \"project.member.read\" for project administrators    - \"project.grant.member.read\" for project grant administrators    - no permissions required for listing own administrator roles
        :param internal_permission_service_list_administrators_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if internal_permission_service_list_administrators_request is None:
            raise ValueError(
                "Missing the required parameter 'internal_permission_service_list_administrators_request'"
            )

        path = "/zitadel.internal_permission.v2.InternalPermissionService/ListAdministrators"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = internal_permission_service_list_administrators_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "InternalPermissionServiceListAdministratorsResponse",
            None,
        )

    async def update_administrator(
        self,
        internal_permission_service_update_administrator_request: InternalPermissionServiceUpdateAdministratorRequest,
    ) -> InternalPermissionServiceUpdateAdministratorResponse:
        """Update Administrator
        UpdateAdministrator updates the specific administrator role.   Note that any role previously granted to the user and not present in the request will be revoked.   Required permissions depend on the resource type:    - \"iam.member.write\" for instance administrators    - \"org.member.write\" for organization administrators    - \"project.member.write\" for project administrators    - \"project.grant.member.write\" for project grant administrators
        :param internal_permission_service_update_administrator_request:  (required)

        :return: InternalPermissionServiceUpdateAdministratorResponse
        :raises ApiException: if fails to make API call
        """
        if internal_permission_service_update_administrator_request is None:
            raise ValueError(
                "Missing the required parameter 'internal_permission_service_update_administrator_request'"
            )

        result = await self.update_administrator_with_http_info(
            internal_permission_service_update_administrator_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def update_administrator_with_http_info(
        self,
        internal_permission_service_update_administrator_request: InternalPermissionServiceUpdateAdministratorRequest,
    ) -> "ApiResult[InternalPermissionServiceUpdateAdministratorResponse]":
        """Update Administrator (with HTTP info)
        UpdateAdministrator updates the specific administrator role.   Note that any role previously granted to the user and not present in the request will be revoked.   Required permissions depend on the resource type:    - \"iam.member.write\" for instance administrators    - \"org.member.write\" for organization administrators    - \"project.member.write\" for project administrators    - \"project.grant.member.write\" for project grant administrators
        :param internal_permission_service_update_administrator_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if internal_permission_service_update_administrator_request is None:
            raise ValueError(
                "Missing the required parameter 'internal_permission_service_update_administrator_request'"
            )

        path = "/zitadel.internal_permission.v2.InternalPermissionService/UpdateAdministrator"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = internal_permission_service_update_administrator_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "InternalPermissionServiceUpdateAdministratorResponse",
            None,
        )
