# ruff: noqa
# mypy: ignore-errors
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

from typing import Any, Dict, List, Optional
from pydantic import StrictBool, StrictFloat, StrictInt, StrictStr

from zitadel_client.models.oidc_service_authorize_or_deny_device_authorization_request import (
    OIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest,
)
from zitadel_client.models.oidc_service_connect_error import OIDCServiceConnectError
from zitadel_client.models.oidc_service_create_callback_request import (
    OIDCServiceCreateCallbackRequest,
)
from zitadel_client.models.oidc_service_create_callback_response import (
    OIDCServiceCreateCallbackResponse,
)
from zitadel_client.models.oidc_service_get_auth_request_request import (
    OIDCServiceGetAuthRequestRequest,
)
from zitadel_client.models.oidc_service_get_auth_request_response import (
    OIDCServiceGetAuthRequestResponse,
)
from zitadel_client.models.oidc_service_get_device_authorization_request_request import (
    OIDCServiceGetDeviceAuthorizationRequestRequest,
)
from zitadel_client.models.oidc_service_get_device_authorization_request_response import (
    OIDCServiceGetDeviceAuthorizationRequestResponse,
)

from ..api_client import ApiClient
from ..api_result import ApiResult
from ..configuration import Configuration
from .base_api import BaseApi
from ..value_serializer import ValueSerializer
from ..auth.authenticator import Authenticator
from ..errors import ApiException


class OIDCServiceApi(BaseApi):
    """OIDCServiceApi provides methods for the OIDCService API group."""

    def __init__(
        self,
        api_client: Optional[ApiClient] = None,
        config: Optional[Configuration] = None,
        authenticator: Optional[Authenticator] = None,
    ):
        super().__init__(api_client, config, authenticator)

    async def authorize_or_deny_device_authorization(
        self,
        oidc_service_authorize_or_deny_device_authorization_request: OIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest,
    ) -> object:
        """Authorize or Deny Device Authorization
        Authorize or deny the device authorization request based on the provided device authorization id.   Required permissions:    - `session.link`
        :param oidc_service_authorize_or_deny_device_authorization_request:  (required)

        :return: object
        :raises ApiException: if fails to make API call
        """
        if oidc_service_authorize_or_deny_device_authorization_request is None:
            raise ValueError(
                "Missing the required parameter 'oidc_service_authorize_or_deny_device_authorization_request'"
            )

        result = await self.authorize_or_deny_device_authorization_with_http_info(
            oidc_service_authorize_or_deny_device_authorization_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def authorize_or_deny_device_authorization_with_http_info(
        self,
        oidc_service_authorize_or_deny_device_authorization_request: OIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest,
    ) -> "ApiResult[object]":
        """Authorize or Deny Device Authorization (with HTTP info)
        Authorize or deny the device authorization request based on the provided device authorization id.   Required permissions:    - `session.link`
        :param oidc_service_authorize_or_deny_device_authorization_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if oidc_service_authorize_or_deny_device_authorization_request is None:
            raise ValueError(
                "Missing the required parameter 'oidc_service_authorize_or_deny_device_authorization_request'"
            )

        path = "/zitadel.oidc.v2.OIDCService/AuthorizeOrDenyDeviceAuthorization"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = oidc_service_authorize_or_deny_device_authorization_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "object",
            None,
        )

    async def create_callback(
        self,
        oidc_service_create_callback_request: OIDCServiceCreateCallbackRequest,
    ) -> OIDCServiceCreateCallbackResponse:
        """Create Callback
        Finalize an Auth Request and get the callback URL for success or failure.  The user must be redirected to the URL in order to inform the application about the success or failure.  On success, the URL contains details for the application to obtain the tokens.  This method can only be called once for an Auth request.   Required permissions:    - `session.link`
        :param oidc_service_create_callback_request:  (required)

        :return: OIDCServiceCreateCallbackResponse
        :raises ApiException: if fails to make API call
        """
        if oidc_service_create_callback_request is None:
            raise ValueError(
                "Missing the required parameter 'oidc_service_create_callback_request'"
            )

        result = await self.create_callback_with_http_info(
            oidc_service_create_callback_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def create_callback_with_http_info(
        self,
        oidc_service_create_callback_request: OIDCServiceCreateCallbackRequest,
    ) -> "ApiResult[OIDCServiceCreateCallbackResponse]":
        """Create Callback (with HTTP info)
        Finalize an Auth Request and get the callback URL for success or failure.  The user must be redirected to the URL in order to inform the application about the success or failure.  On success, the URL contains details for the application to obtain the tokens.  This method can only be called once for an Auth request.   Required permissions:    - `session.link`
        :param oidc_service_create_callback_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if oidc_service_create_callback_request is None:
            raise ValueError(
                "Missing the required parameter 'oidc_service_create_callback_request'"
            )

        path = "/zitadel.oidc.v2.OIDCService/CreateCallback"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = oidc_service_create_callback_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "OIDCServiceCreateCallbackResponse",
            None,
        )

    async def get_auth_request(
        self,
        oidc_service_get_auth_request_request: OIDCServiceGetAuthRequestRequest,
    ) -> OIDCServiceGetAuthRequestResponse:
        """Get Auth Request
        Get OIDC Auth Request details by ID, obtained from the redirect URL.  Returns details that are parsed from the application's Auth Request.   Required permissions:    - `session.read`
        :param oidc_service_get_auth_request_request:  (required)

        :return: OIDCServiceGetAuthRequestResponse
        :raises ApiException: if fails to make API call
        """
        if oidc_service_get_auth_request_request is None:
            raise ValueError(
                "Missing the required parameter 'oidc_service_get_auth_request_request'"
            )

        result = await self.get_auth_request_with_http_info(
            oidc_service_get_auth_request_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def get_auth_request_with_http_info(
        self,
        oidc_service_get_auth_request_request: OIDCServiceGetAuthRequestRequest,
    ) -> "ApiResult[OIDCServiceGetAuthRequestResponse]":
        """Get Auth Request (with HTTP info)
        Get OIDC Auth Request details by ID, obtained from the redirect URL.  Returns details that are parsed from the application's Auth Request.   Required permissions:    - `session.read`
        :param oidc_service_get_auth_request_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if oidc_service_get_auth_request_request is None:
            raise ValueError(
                "Missing the required parameter 'oidc_service_get_auth_request_request'"
            )

        path = "/zitadel.oidc.v2.OIDCService/GetAuthRequest"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = oidc_service_get_auth_request_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "OIDCServiceGetAuthRequestResponse",
            None,
        )

    async def get_device_authorization_request(
        self,
        oidc_service_get_device_authorization_request_request: OIDCServiceGetDeviceAuthorizationRequestRequest,
    ) -> OIDCServiceGetDeviceAuthorizationRequestResponse:
        """Get Device Authorization Request
        Get the device authorization based on the provided \"user code\".  This will return the device authorization request, which contains the device authorization id  that is required to authorize the request once the user signed in or to deny it.   Required permissions:    - `session.read`
        :param oidc_service_get_device_authorization_request_request:  (required)

        :return: OIDCServiceGetDeviceAuthorizationRequestResponse
        :raises ApiException: if fails to make API call
        """
        if oidc_service_get_device_authorization_request_request is None:
            raise ValueError(
                "Missing the required parameter 'oidc_service_get_device_authorization_request_request'"
            )

        result = await self.get_device_authorization_request_with_http_info(
            oidc_service_get_device_authorization_request_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def get_device_authorization_request_with_http_info(
        self,
        oidc_service_get_device_authorization_request_request: OIDCServiceGetDeviceAuthorizationRequestRequest,
    ) -> "ApiResult[OIDCServiceGetDeviceAuthorizationRequestResponse]":
        """Get Device Authorization Request (with HTTP info)
        Get the device authorization based on the provided \"user code\".  This will return the device authorization request, which contains the device authorization id  that is required to authorize the request once the user signed in or to deny it.   Required permissions:    - `session.read`
        :param oidc_service_get_device_authorization_request_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if oidc_service_get_device_authorization_request_request is None:
            raise ValueError(
                "Missing the required parameter 'oidc_service_get_device_authorization_request_request'"
            )

        path = "/zitadel.oidc.v2.OIDCService/GetDeviceAuthorizationRequest"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = oidc_service_get_device_authorization_request_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "OIDCServiceGetDeviceAuthorizationRequestResponse",
            None,
        )
