# ruff: noqa
# mypy: ignore-errors
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

from typing import Any, Dict, List, Optional
from pydantic import StrictBool, StrictFloat, StrictInt, StrictStr

from zitadel_client.models.saml_service_connect_error import SAMLServiceConnectError
from zitadel_client.models.saml_service_create_response_request import (
    SAMLServiceCreateResponseRequest,
)
from zitadel_client.models.saml_service_create_response_response import (
    SAMLServiceCreateResponseResponse,
)
from zitadel_client.models.saml_service_get_saml_request_request import (
    SAMLServiceGetSAMLRequestRequest,
)
from zitadel_client.models.saml_service_get_saml_request_response import (
    SAMLServiceGetSAMLRequestResponse,
)

from ..api_client import ApiClient
from ..api_result import ApiResult
from ..configuration import Configuration
from .base_api import BaseApi
from ..value_serializer import ValueSerializer
from ..auth.authenticator import Authenticator
from ..errors import ApiException


class SAMLServiceApi(BaseApi):
    """SAMLServiceApi provides methods for the SAMLService API group."""

    def __init__(
        self,
        api_client: Optional[ApiClient] = None,
        config: Optional[Configuration] = None,
        authenticator: Optional[Authenticator] = None,
    ):
        super().__init__(api_client, config, authenticator)

    async def create_response(
        self,
        saml_service_create_response_request: SAMLServiceCreateResponseRequest,
    ) -> SAMLServiceCreateResponseResponse:
        """Create Response
        Finalize a SAML Request and get the response definition for success or failure.  The response must be handled as per the SAML definition to inform the application about the success or failure.  On success, the response contains details for the application to obtain the SAMLResponse.  This method can only be called once for an SAML request.   Required permissions:    - `session.link`
        :param saml_service_create_response_request:  (required)

        :return: SAMLServiceCreateResponseResponse
        :raises ApiException: if fails to make API call
        """
        if saml_service_create_response_request is None:
            raise ValueError(
                "Missing the required parameter 'saml_service_create_response_request'"
            )

        result = await self.create_response_with_http_info(
            saml_service_create_response_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def create_response_with_http_info(
        self,
        saml_service_create_response_request: SAMLServiceCreateResponseRequest,
    ) -> "ApiResult[SAMLServiceCreateResponseResponse]":
        """Create Response (with HTTP info)
        Finalize a SAML Request and get the response definition for success or failure.  The response must be handled as per the SAML definition to inform the application about the success or failure.  On success, the response contains details for the application to obtain the SAMLResponse.  This method can only be called once for an SAML request.   Required permissions:    - `session.link`
        :param saml_service_create_response_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if saml_service_create_response_request is None:
            raise ValueError(
                "Missing the required parameter 'saml_service_create_response_request'"
            )

        path = "/zitadel.saml.v2.SAMLService/CreateResponse"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = saml_service_create_response_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "SAMLServiceCreateResponseResponse",
            None,
        )

    async def get_saml_request(
        self,
        saml_service_get_saml_request_request: SAMLServiceGetSAMLRequestRequest,
    ) -> SAMLServiceGetSAMLRequestResponse:
        """Get SAML Request
        Get SAML Request details by ID. Returns details that are parsed from the application's SAML Request.   Required permissions:    - `session.read`
        :param saml_service_get_saml_request_request:  (required)

        :return: SAMLServiceGetSAMLRequestResponse
        :raises ApiException: if fails to make API call
        """
        if saml_service_get_saml_request_request is None:
            raise ValueError(
                "Missing the required parameter 'saml_service_get_saml_request_request'"
            )

        result = await self.get_saml_request_with_http_info(
            saml_service_get_saml_request_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def get_saml_request_with_http_info(
        self,
        saml_service_get_saml_request_request: SAMLServiceGetSAMLRequestRequest,
    ) -> "ApiResult[SAMLServiceGetSAMLRequestResponse]":
        """Get SAML Request (with HTTP info)
        Get SAML Request details by ID. Returns details that are parsed from the application's SAML Request.   Required permissions:    - `session.read`
        :param saml_service_get_saml_request_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if saml_service_get_saml_request_request is None:
            raise ValueError(
                "Missing the required parameter 'saml_service_get_saml_request_request'"
            )

        path = "/zitadel.saml.v2.SAMLService/GetSAMLRequest"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = saml_service_get_saml_request_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "SAMLServiceGetSAMLRequestResponse",
            None,
        )
