# ruff: noqa
# mypy: ignore-errors
# Zitadel SDK
# The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
#
# The version of the OpenAPI document: 1.0.0
#
# Generated by: https://openapi-generator.tech

from typing import Any, Dict, List, Optional
from pydantic import StrictBool, StrictFloat, StrictInt, StrictStr

from zitadel_client.models.session_service_connect_error import (
    SessionServiceConnectError,
)
from zitadel_client.models.session_service_create_session_request import (
    SessionServiceCreateSessionRequest,
)
from zitadel_client.models.session_service_create_session_response import (
    SessionServiceCreateSessionResponse,
)
from zitadel_client.models.session_service_delete_session_request import (
    SessionServiceDeleteSessionRequest,
)
from zitadel_client.models.session_service_delete_session_response import (
    SessionServiceDeleteSessionResponse,
)
from zitadel_client.models.session_service_get_session_request import (
    SessionServiceGetSessionRequest,
)
from zitadel_client.models.session_service_get_session_response import (
    SessionServiceGetSessionResponse,
)
from zitadel_client.models.session_service_list_sessions_request import (
    SessionServiceListSessionsRequest,
)
from zitadel_client.models.session_service_list_sessions_response import (
    SessionServiceListSessionsResponse,
)
from zitadel_client.models.session_service_set_session_request import (
    SessionServiceSetSessionRequest,
)
from zitadel_client.models.session_service_set_session_response import (
    SessionServiceSetSessionResponse,
)

from ..api_client import ApiClient
from ..api_result import ApiResult
from ..configuration import Configuration
from .base_api import BaseApi
from ..value_serializer import ValueSerializer
from ..auth.authenticator import Authenticator
from ..errors import ApiException


class SessionServiceApi(BaseApi):
    """SessionServiceApi provides methods for the SessionService API group."""

    def __init__(
        self,
        api_client: Optional[ApiClient] = None,
        config: Optional[Configuration] = None,
        authenticator: Optional[Authenticator] = None,
    ):
        super().__init__(api_client, config, authenticator)

    async def create_session(
        self,
        session_service_create_session_request: SessionServiceCreateSessionRequest,
    ) -> SessionServiceCreateSessionResponse:
        """Create Session
        Create a new session with initial checks, metadata and challenges for further verification.  A token will be returned, which is required for using the session as authentication, e.g.  when authenticating an OIDC auth request or SAML request.  Additionally, the session token can be used as OAuth2 access token to authenticate against  the ZITADEL APIs.   Required permissions:    - `session.write`
        :param session_service_create_session_request:  (required)

        :return: SessionServiceCreateSessionResponse
        :raises ApiException: if fails to make API call
        """
        if session_service_create_session_request is None:
            raise ValueError(
                "Missing the required parameter 'session_service_create_session_request'"
            )

        result = await self.create_session_with_http_info(
            session_service_create_session_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def create_session_with_http_info(
        self,
        session_service_create_session_request: SessionServiceCreateSessionRequest,
    ) -> "ApiResult[SessionServiceCreateSessionResponse]":
        """Create Session (with HTTP info)
        Create a new session with initial checks, metadata and challenges for further verification.  A token will be returned, which is required for using the session as authentication, e.g.  when authenticating an OIDC auth request or SAML request.  Additionally, the session token can be used as OAuth2 access token to authenticate against  the ZITADEL APIs.   Required permissions:    - `session.write`
        :param session_service_create_session_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if session_service_create_session_request is None:
            raise ValueError(
                "Missing the required parameter 'session_service_create_session_request'"
            )

        path = "/zitadel.session.v2.SessionService/CreateSession"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = session_service_create_session_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "SessionServiceCreateSessionResponse",
            None,
        )

    async def delete_session(
        self,
        session_service_delete_session_request: SessionServiceDeleteSessionRequest,
    ) -> SessionServiceDeleteSessionResponse:
        """DeleteSession
        Terminate an existing session. This invalidates the session and its token.  The session can no longer be used for the authentication of other resources  or to authenticate against the ZITADEL APIs.   You can only terminate your own session, unless you are granted the `session.delete` permission.   Required permissions:    - `session.delete`    - no permission required for own sessions or when providing the current session token
        :param session_service_delete_session_request:  (required)

        :return: SessionServiceDeleteSessionResponse
        :raises ApiException: if fails to make API call
        """
        if session_service_delete_session_request is None:
            raise ValueError(
                "Missing the required parameter 'session_service_delete_session_request'"
            )

        result = await self.delete_session_with_http_info(
            session_service_delete_session_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def delete_session_with_http_info(
        self,
        session_service_delete_session_request: SessionServiceDeleteSessionRequest,
    ) -> "ApiResult[SessionServiceDeleteSessionResponse]":
        """DeleteSession (with HTTP info)
        Terminate an existing session. This invalidates the session and its token.  The session can no longer be used for the authentication of other resources  or to authenticate against the ZITADEL APIs.   You can only terminate your own session, unless you are granted the `session.delete` permission.   Required permissions:    - `session.delete`    - no permission required for own sessions or when providing the current session token
        :param session_service_delete_session_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if session_service_delete_session_request is None:
            raise ValueError(
                "Missing the required parameter 'session_service_delete_session_request'"
            )

        path = "/zitadel.session.v2.SessionService/DeleteSession"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = session_service_delete_session_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "SessionServiceDeleteSessionResponse",
            None,
        )

    async def get_session(
        self,
        session_service_get_session_request: SessionServiceGetSessionRequest,
    ) -> SessionServiceGetSessionResponse:
        """Get Session
        Retrieve a session by its ID. Returns all information about the session, including  the factors that were verified, the metadata, user agent information and possible expiration date.  The session token is required unless either of the following conditions is met:    - the caller created the session    - the authenticated user requests their own session (checked user)    - the security token provided in the authorization header has the same user agent as the session    - the caller is granted the permission session.read permission on either the instance or on the checked user's organization   Required permissions:    - `session.read`    - no permission required to get own sessions (see above) or when providing the current session token
        :param session_service_get_session_request:  (required)

        :return: SessionServiceGetSessionResponse
        :raises ApiException: if fails to make API call
        """
        if session_service_get_session_request is None:
            raise ValueError(
                "Missing the required parameter 'session_service_get_session_request'"
            )

        result = await self.get_session_with_http_info(
            session_service_get_session_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def get_session_with_http_info(
        self,
        session_service_get_session_request: SessionServiceGetSessionRequest,
    ) -> "ApiResult[SessionServiceGetSessionResponse]":
        """Get Session (with HTTP info)
        Retrieve a session by its ID. Returns all information about the session, including  the factors that were verified, the metadata, user agent information and possible expiration date.  The session token is required unless either of the following conditions is met:    - the caller created the session    - the authenticated user requests their own session (checked user)    - the security token provided in the authorization header has the same user agent as the session    - the caller is granted the permission session.read permission on either the instance or on the checked user's organization   Required permissions:    - `session.read`    - no permission required to get own sessions (see above) or when providing the current session token
        :param session_service_get_session_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if session_service_get_session_request is None:
            raise ValueError(
                "Missing the required parameter 'session_service_get_session_request'"
            )

        path = "/zitadel.session.v2.SessionService/GetSession"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = session_service_get_session_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "SessionServiceGetSessionResponse",
            None,
        )

    async def list_sessions(
        self,
        session_service_list_sessions_request: SessionServiceListSessionsRequest,
    ) -> SessionServiceListSessionsResponse:
        """List sessions
        Searches for sessions matching the given query. You can search by session ID, user ID,  creation date, creator, user agent or expiration date.   Required permissions:    - `session.read`    - no permission required to search for own sessions
        :param session_service_list_sessions_request:  (required)

        :return: SessionServiceListSessionsResponse
        :raises ApiException: if fails to make API call
        """
        if session_service_list_sessions_request is None:
            raise ValueError(
                "Missing the required parameter 'session_service_list_sessions_request'"
            )

        result = await self.list_sessions_with_http_info(
            session_service_list_sessions_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def list_sessions_with_http_info(
        self,
        session_service_list_sessions_request: SessionServiceListSessionsRequest,
    ) -> "ApiResult[SessionServiceListSessionsResponse]":
        """List sessions (with HTTP info)
        Searches for sessions matching the given query. You can search by session ID, user ID,  creation date, creator, user agent or expiration date.   Required permissions:    - `session.read`    - no permission required to search for own sessions
        :param session_service_list_sessions_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if session_service_list_sessions_request is None:
            raise ValueError(
                "Missing the required parameter 'session_service_list_sessions_request'"
            )

        path = "/zitadel.session.v2.SessionService/ListSessions"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = session_service_list_sessions_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "SessionServiceListSessionsResponse",
            None,
        )

    async def set_session(
        self,
        session_service_set_session_request: SessionServiceSetSessionRequest,
    ) -> SessionServiceSetSessionResponse:
        """Set Session
        Update an existing session with new information like additional checks or metadata  or request additional challenges.  A new session token will be returned. Note that the previous token will be invalidated.   Required permissions:    - `session.write`
        :param session_service_set_session_request:  (required)

        :return: SessionServiceSetSessionResponse
        :raises ApiException: if fails to make API call
        """
        if session_service_set_session_request is None:
            raise ValueError(
                "Missing the required parameter 'session_service_set_session_request'"
            )

        result = await self.set_session_with_http_info(
            session_service_set_session_request
        )

        if result.data is None:
            # This operation declares a non-void return type, so an empty /
            # undecodable response body is a contract violation. Raise the
            # SDK's typed ApiException (rather than an assert that vanishes
            # under -O, or a silent None) so callers get one catchable error.
            raise ApiException(
                status_code=result.status_code,
                message="Expected a response body but the server returned none",
                response_body=result.raw_body,
                response_headers=result.headers,
            )
        return result.data

    async def set_session_with_http_info(
        self,
        session_service_set_session_request: SessionServiceSetSessionRequest,
    ) -> "ApiResult[SessionServiceSetSessionResponse]":
        """Set Session (with HTTP info)
        Update an existing session with new information like additional checks or metadata  or request additional challenges.  A new session token will be returned. Note that the previous token will be invalidated.   Required permissions:    - `session.write`
        :param session_service_set_session_request:  (required)

        :return: ApiResult containing the response data, status code, raw body, and headers
        :raises ApiException: if fails to make API call
        """
        if session_service_set_session_request is None:
            raise ValueError(
                "Missing the required parameter 'session_service_set_session_request'"
            )

        path = "/zitadel.session.v2.SessionService/SetSession"
        query_params: Dict[str, Any] = {}
        header_params: Dict[str, str] = {}
        body = session_service_set_session_request

        return await self._invoke_api_for_result(
            "POST",
            path,
            query_params,
            header_params,
            body,
            ["application/json"],
            "application/json",
            "SessionServiceSetSessionResponse",
            None,
        )
